@import "../../../shared/styles/bootstrap/functions";
@import "../../../shared/styles/bootstrap/variables";
@import "../../../shared/styles/bootstrap/mixins";
@import '../../../shared/styles/app/variables';

agm-map {
    //height: 500px;
    height: calc(100vh - 283px);
}

.overview-container {
    /*margin: 0 auto;
    max-width: map-get($container-max-widths, "lg");*/

    .overview-logo {
        width: 240px;
    }

    .overview-text {
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }
    .overview-text-big {
        margin-top: 1.3125rem;
        font-size: 3.9375rem;
    }
}
