<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-envelope fa-lg text-message"></i> <strong>Messages</strong>

    </div>
    <div class="card-block">
      <ng-container *ngIf="!messages.length">
        No messages yet...
        <div class="sk-double-bounce">
          <div class="sk-child sk-double-bounce1"></div>
          <div class="sk-child sk-double-bounce2"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="messages.length>0">
        <div class="row mb-1">
          <div class="col-md-2">
            <!--<button class="btn btn-info pull-right" (click)="download()"><i class="fa fa-download"></i> Download</button>-->
          </div>
          <div class="col-md-4 offset-md-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
            </div>
          </div>
        </div>
        <table class="table d-lg-table table-hover table-responsive" [mfData]="messages | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="thead-inverse">
          <tr>
            <th class="text-center">
              <mfDefaultSorter by="createdAt"><i class="fa fa-sort"></i> Date</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="data"><i class="fa fa-sort"></i> Data</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="deviceId"><i class="fa fa-sort"></i> Device</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="geoloc"><i class="fa fa-sort"></i> Geoloc</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="seqNumber"><i class="fa fa-sort"></i> Seq Number</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="reception"><i class="fa fa-sort"></i> Reception</mfDefaultSorter>
            </th>
            <th class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let message of mf.data">
            <td class="text-center">{{message.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</td>
            <td class="text-center">
              <span class="text-message">{{message.data}}</span>
              <div class="text-justify" *ngIf="message.data_parsed">
                <div *ngFor="let o of message.data_parsed">
                  <small *ngIf="o.value">{{o.key}}: <strong>{{o.value}} {{o.unit}}</strong></small>
                </div>
              </div>
              <div class="mt-1" *ngIf="message.downlinkData">
                Downlink: <span class="text-danger" title="Downlink payload">{{message.downlinkData}}</span>
              </div>
            </td>
            <td class="text-center text-device">
              <span tooltip="Click to filter" placement="right" click-copy (click)="filterQuery = message.deviceId">{{message.deviceId}}</span>
              <br>
              <small *ngIf="message.Device">{{message.Device.name}}</small>
            </td>
            <td class="text-center">
              <div *ngIf="message.geoloc">
                <div *ngFor="let geoloc of message.geoloc">
                  <div class="row">
                    <div class="col col-7">
                      <ng-container *ngIf="geoloc.type == 'sigfox'">
                        <span class="small text-geoloc-sigfox">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>Sigfox Network</strong>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="geoloc.type == 'GPS'">
                        <span class="small text-geoloc-gps">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>GPS</strong>
                        </span>
                      </ng-container>
                    </div>
                    <div class="col col-5 text-left">
                          <span class="small text-muted">
                            Lat: {{geoloc.lat| number:'.1-3'}}
                            <br>
                            Lng: {{geoloc.lng| number:'.1-3'}}
                          </span>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center">{{message.seqNumber}}</td>
            <td class="text-center" (click)="showBaseStations(message.deviceId, message.time)">
              <p *ngFor="let reception of message.reception">
                <i *ngIf="reception.RSSI >= -120" title="RSSI" class="fa fa-signal text-success" aria-hidden="true"></i>
                <i *ngIf="reception.RSSI < -120 && reception.RSSI > -140" title="RSSI" class="fa fa-signal text-warning" aria-hidden="true"></i>
                <i *ngIf="reception.RSSI <= -140" title="RSSI" class="fa fa-signal text-danger" aria-hidden="true"></i>
                {{reception.RSSI}}
                <span>&nbsp;</span>
                <i title="Base Station" class="fa fa-podcast text-primary" aria-hidden="true"></i>
                {{reception.id}}
                <span>&nbsp;</span>
                <i title="SNR" class="fa fa-feed" aria-hidden="true"></i>
                {{reception.SNR}}
              </p>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-danger btn-round" (click)="remove(message)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </ng-container>
    </div>
  </div>
</div>



<div bsModal #baseStationMap="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="baseStationMap" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Base stations that received the message</h4>
        <button type="button" class="close" (click)="baseStationMap.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map [styles]="mapStyle"
                 [latitude]="receptions[0] ? toInt(receptions[0].lat) : 48.883478"
                 [longitude]="receptions[0] ? toInt(receptions[0].lng) : 2.302451"
                 [zoom]="9">
          <ng-container *ngFor="let reception of receptions">
            <agm-marker
              [zIndex]="3"
              [latitude]="toInt(reception.lat)"
              [longitude]="toInt(reception.lng)"
              [iconUrl]="'assets/img/marker-base-station.png'">
              <agm-info-window>
                <strong><b>ID:</b> {{reception.tap}}</strong>
              </agm-info-window>
            </agm-marker>
            <!-- Circle -->
            <!--<agm-circle [zIndex]="1"
                        [strokePosition]="CENTER"
                        [strokeWeight]="1"
                        [strokeColor]="'#2333d1'"
                        [fillOpacity]="0.15"
                        [fillColor]="'#2333d1'"
                        [latitude]="toInt(reception.lat)"
                        [longitude]="toInt(reception.lng)"
                        [radius]="50000">
            </agm-circle>-->
            <!-- End Circle -->
          </ng-container>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="baseStationMap.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

