<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-envelope fa-lg text-message"></i> <strong>Messages</strong>
    </div>
    <div *ngIf="!messages.length" class="card-block">
      No message yet...
      <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>
    </div>
    <div *ngIf="messages.length>0" class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table d-lg-table table-hover table-responsive" [mfData]="messages | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead class="thead-inverse">
        <tr>
          <th class="text-center">
            <mfDefaultSorter by="createdAt">Date</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="data">Data</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="deviceId">Device</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="geoloc">Geoloc</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="seqNumber">Seq Number</mfDefaultSorter>
          </th>
          <th class="text-center">
            <mfDefaultSorter by="reception">Reception</mfDefaultSorter>
          </th>
          <th class="text-center">
            Options
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data" (click)="showBaseStations(item.deviceId)">
          <td class="text-center">{{item.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td class="text-center">
            <span class="text-message">{{item.data}}</span>
            <div class="text-justify" *ngIf="item.parsed_data">
              <div *ngFor="let object of item.parsed_data">
                <small>{{object.key}}: <strong>{{object.value}} {{object.unit}}</strong></small>
              </div>
            </div>
          </td>
          <td class="text-center text-device">
            {{item.deviceId}}
          </td>
          <td class="text-center">
            <div *ngIf="item.geoloc">
              <div *ngFor="let geoloc of item.geoloc">
                <div class="row">
                  <div class="col col-7">
                    <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                        <span class="small text-geoloc-sigfox">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>Sigfox Network</strong>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="geoloc.type == 'GPS'">
                        <span class="small text-geoloc-gps">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>GPS</strong>
                        </span>
                    </ng-container>
                  </div>
                  <div class="col col-5 text-left">
                    <a href="">
                          <span class="small text-muted">
                            Lat: {{geoloc.lat| number:'.1-3'}}
                            <br>
                            Lng: {{geoloc.lng| number:'.1-3'}}
                          </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">{{item.seqNumber}}</td>
          <td class="text-center">
            <p *ngFor="let reception of item.reception">
              <i *ngIf="reception.RSSI >= -120" title="RSSI" class="fa fa-signal text-success" aria-hidden="true"></i>
              <i *ngIf="reception.RSSI < -120 && reception.RSSI > -140" title="RSSI" class="fa fa-signal text-warning" aria-hidden="true"></i>
              <i *ngIf="reception.RSSI <= -140" title="RSSI" class="fa fa-signal text-danger" aria-hidden="true"></i>
              {{reception.RSSI}}
              <span>&nbsp;</span>
              <i title="Base Station" class="fa fa-podcast text-primary" aria-hidden="true"></i>
              {{reception.id}}
              <span>&nbsp;</span>
              <i title="SNR" class="fa fa-feed" aria-hidden="true"></i>
              {{reception.SNR}}
            </p>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-danger btn-round" (click)="remove(item)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



<div bsModal #baseStationMap="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="baseStationMap" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Base stations that received the message</h4>
        <button type="button" class="close" (click)="baseStationMap.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="receptions[0] ? toInt(receptions[0].lat) : 49"
                 [longitude]="receptions[0] ? toInt(receptions[0].lng) : 2"
                 [zoom]="7">
          <ng-container *ngFor="let reception of receptions">
            <agm-marker
              [zIndex]="3"
              [latitude]="toInt(reception.lat)"
              [longitude]="toInt(reception.lng)"
              [iconUrl]="'assets/img/marker-base-station.png'">
              <agm-info-window>
                <strong><b>ID:</b> {{reception.tap}}</strong>
              </agm-info-window>
            </agm-marker>
            <!-- Circle -->
            <agm-circle [zIndex]="1"
                        [strokePosition]="CENTER"
                        [strokeWeight]="1"
                        [strokeColor]="'#2333d1'"
                        [fillOpacity]="0.15"
                        [fillColor]="'#2333d1'"
                        [latitude]="toInt(reception.lat)"
                        [longitude]="toInt(reception.lng)"
                        [radius]="50000">
            </agm-circle>
            <!-- End Circle -->
          </ng-container>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="baseStationMap.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

