<div class="item user-block" *ngIf="organizationBlockIsVisible()">
    <!-- Organization picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="organization.logo" alt="Logo"/>
        </div>
    </div>
    <div class="user-block-info">
        <!--<span class="user-block-name">{{ 'sidebar.WELCOME' | translate }} {{user.email}}</span>-->
        <span class="user-block-name">{{organization.name}}</span>
        <span class="user-block-role">{{organization.createdAt | amTimeAgo}}</span>
    </div>
</div>
