<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand hidden-xs-down" href="#" [routerLink]="['/']"></a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto" style="margin-right: 2%">

    <!-- User profile -->
    <li *ngIf="!organization" class="nav-item">
      <a href class="nav-link" [routerLink]="['/profile']">
        <img #avatarImg src="{{user.avatar}}" class="img-avatar">
        <span class="d-md-down-none font-weight-bold hidden-md-down">{{user.username || user.email}}</span>
      </a>
    </li>

    <!-- Switch to user -->
    <li *ngIf="organization" class="nav-item" style="cursor: pointer;" #tooltip tooltip="Switch to user view" placement="left">
      <a class="nav-link" (click)="redirectToUserView()">
        <i class="fa fa-user text-user"> </i>
      </a>
    </li>

    <!-- Organization -->
    <li *ngIf="organization" class="nav-item">
      <a href class="nav-link" [routerLink]="['/organization/', organization.id]">
        <img src="{{organization.logo}}" class="img-avatar">
        <span class="d-md-down-none font-weight-bold hidden-md-down">{{organization.name}}</span>
      </a>
    </li>

    <!-- Edit orga -->
    <li *ngIf="organization && (organization.userId === user.id || admin === true)" class="nav-item"
        style="cursor: pointer;"
        tooltip="Edit organization" placement="left">
      <a class="nav-link" (click)="openEditOrganizationModal()">
        <i class="fa fa-pencil text-organization"></i>
      </a>
    </li>

    <!-- Organizations -->
    <li class="nav-item dropdown" dropdown placement="bottom right" (isOpenChange)="countOrganizationsMembers($event);">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <i class="fa fa-building text-organization"></i>
        <span *ngIf="countOrganizationsReady" class="badge badge-pill badge-danger">{{organizations.length}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong translate>organizations</strong></div>
        <div class="overflow">
          <button href="#" class="dropdown-item" *ngFor="let orga of organizations" (click)="redirectToOgranizationView(orga.id)">
            <img src="{{orga.logo}}" height="30px" class="img-avatar"> {{orga.name}}
            <span class="badge badge-pill badge-organization">{{orga.countMembers}}</span>
          </button>
          <button href="#" class="dropdown-item" (click)="openAddOrganizationModal()">
            <i class="fa fa-plus text-organization"></i>
            <span translate>new_organization</span>
          </button>
        </div>
      </div>
    </li>

    <!-- Logout -->
    <li class="nav-item">
      <a class="nav-link" href="#" role="button" (click)="onLogout()">
        <i class="fa fa-sign-out text-primary"></i>
      </a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar mobile-sidebar-toggler">
    <nav class="sidebar-nav" *ngIf="!organization">
      <ul class="nav">
        <ng-container *ngIf="!isInitialized">
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1 loading-in"></div>
            <div class="sk-child sk-double-bounce2 loading-out"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="isInitialized">
          <li class="nav-title">
            <span translate>dashboards</span>
            <button class="pull-right btn-round btn-outline-success btn-sm"
                    routerLinkActive="active"
                    tooltip="{{ 'create_dashboard' | translate }}"
                    placement="left"
                    (click)="newDashboard()"
                    style="outline: none">
              <i class="fa fa-plus-circle"></i>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">
              <i class="fa fa-dashboard text-white"></i>
              <span translate>overview</span>
            </a>
          </li>
          <li class="nav-item" *ngFor="let dashboard of dashboards">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="['/dashboard', dashboard.id]"><i
              class="fa {{dashboard.icon ? dashboard.icon : null}}"></i>{{dashboard.name}}</a>
          </li>

          <li class="divider"></li>

          <li class="nav-title" translate>information</li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/categories']">
              <i class="fa fa-tag text-category"></i>
              <span translate>categories</span>
              <span *ngIf="countCategoriesReady" class="badge badge-category">{{countCategories}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/devices']">
              <i class="fa fa-microchip text-device"></i>
              <span translate>devices</span>
              <span *ngIf="countDevicesReady" class="badge badge-device">{{countDevices}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/messages']">
              <i class="fa fa-envelope text-message"></i>
              <span translate>messages</span>
              <span *ngIf="countMessagesReady" class="badge badge-message">{{countMessages}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/alerts']">
              <i class="fa fa-bell text-alert"></i>
              <span translate>alerts</span>
              <span *ngIf="countAlertsReady" class="badge badge-alert">{{countAlerts}}</span>
            </a>
          </li>

          <li class="nav-title" translate>developers</li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/parsers']">
              <i class="fa fa-code text-parser"></i>
              <span translate>parsers</span>
              <span *ngIf="countParsersReady" class="badge badge-parser">{{countParsers}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/connectors']">
              <i class="fa fa-plug text-connector"></i>
              <span translate>connectors</span>
              <span *ngIf="countConnectorsReady" class="badge badge-connector">{{countConnectors}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/beacons']">
              <i class="fa fa-wifi text-beacon"></i>
              <span translate>beacons</span>
              <span *ngIf="countBeaconsReady" class="badge badge-beacon">{{countBeacons}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/api']">
              <i class="fa fa-arrows-h text-api"></i>
              <span translate>api</span>
            </a>
          </li>

          <ng-container *ngIf="admin">
            <li class="nav-title" translate>admin</li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']">
                <i class="fa fa-key"></i>
                <span translate>admin</span>
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>

    <nav class="sidebar-nav" *ngIf="organization">
      <ul class="nav">
        <ng-container *ngIf="!isInitialized">
          <div class="loading sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="isInitialized">
          <li class="nav-title">
            <span translate>dashboards</span>
            <button class="pull-right btn-round btn-outline-success btn-sm" routerLinkActive="active"
                    tooltip="Create dashboard" placement="left"
                    (click)="newDashboard()" style="outline: none"><i class="fa fa-plus-circle"></i></button>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/organization/', organization.id]">
              <i class="fa fa-dashboard text-white"></i>
              <span translate>overview</span>
            </a>
          </li>
          <ng-container *ngIf="dashboards">
            <li class="nav-item" *ngFor="let dashboard of dashboards">
              <a class="nav-link" routerLinkActive="active"
                 [routerLink]="['dashboard', dashboard.id]"><i
                class="fa {{dashboard.icon ? dashboard.icon : null}}"></i>{{dashboard.name}}</a>
            </li>
          </ng-container>

          <li class="divider"></li>

          <li class="nav-title" translate>information</li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"
               [routerLink]="['/organization/', organization.id, 'categories']">
              <i class="fa fa-tag text-category"></i>
              <span translate>shared_categories</span>
              <span *ngIf="countCategoriesReady" class="badge badge-category">{{countCategories}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/organization/', organization.id, 'devices']">
              <i class="fa fa-microchip text-device"></i>
              <span translate>shared_devices</span>
              <span *ngIf="countDevicesReady" class="badge badge-device">{{countDevices}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"
               [routerLink]="['/organization/', organization.id, 'messages']">
              <i class="fa fa-envelope text-message"></i>
              <span translate>shared_messages</span>
              <span *ngIf="countMessagesReady" class="badge badge-message">{{countMessages}}</span>
            </a>
          </li>
          <ng-container *ngIf="admin">
            <li class="nav-title" translate>admin</li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']">
                <i class="fa fa-key"></i>
                <span translate>admin</span>
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>

  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>

</div>

<div bsModal #addOrEditOrganizationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="addOrEditOrganizationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form *ngIf="addOrganizationFlag" (ngSubmit)="addOrganization()" class="form-horizontal" #addOrEditForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Create an organization</h4>
          <button type="button" class="close" (click)="addOrEditOrganizationModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control"
                     placeholder="Organization name"
                     name="organizationToAddOrEdit.name" [(ngModel)]="organizationToAddOrEdit.name">
            </div>
          </div>
          <div class="row">

          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label">Logo URL</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Logo"
                     name="organizationToAddOrEdit.logo" [(ngModel)]="organizationToAddOrEdit.logo">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addOrEditOrganizationModal.hide()">Close</button>
          <button [disabled]="!addOrEditForm.form.valid" type="button" class="btn btn-organization"
                  (click)="addOrganization()">Create
          </button>
        </div>
      </form>

      <form *ngIf="!addOrganizationFlag" (ngSubmit)="editOrganization()" class="form-horizontal"
            #addOrEditForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Update an organization</h4>
          <button type="button" class="close" (click)="addOrEditOrganizationModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control"
                     placeholder="Organization name"
                     name="organizationToAddOrEdit.name" [(ngModel)]="organizationToAddOrEdit.name">
            </div>
          </div>
          <div class="row">

          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label">Logo URL</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Logo"
                     name="organizationToAddOrEdit.logo" [(ngModel)]="organizationToAddOrEdit.logo">
            </div>
          </div>

          <div class="form-group row" *ngIf="organization && (organization.userId === user.id || admin === true)">
            <label class="col-md-3 form-control-label">Select users</label>
            <div class="col-md-9">
              <angular2-multiselect name="selectUsers"
                                    [data]="selectUsers"
                                    [(ngModel)]="selectedUsers"
                                    [settings]="selectUsersSettings">
              </angular2-multiselect>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-danger mr-auto" tooltip="Including widgets and dashboards"
                  (click)="deleteOrganization(organization)">Delete
          </button>-->
          <button type="button" class="btn btn-secondary" (click)="addOrEditOrganizationModal.hide()">Close</button>
          <button [disabled]="!addOrEditForm.form.valid" type="button" class="btn btn-organization"
                  (click)="editOrganization()">Update
          </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--<footer class="app-footer footer-fixed fixed-bottom">
  <span class="text-primary">Made with <i class="fa fa-heart text-danger"></i></span> &copy; 2018
  <span class="float-right">by <a target="_blank" href="https://github.com/luisomoreau">Louis Moreau</a> & <a
    target="_blank" href="https://github.com/antoinedechassey">Antoine de Chassey</a></span>
</footer>-->
