::ng-deep {


  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #f3bf99;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: rgba(75, 111, 177, 0.288);
    height: 10px;
    bottom: 10px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 4px;
    height: 15px;
    top: auto; /* to remove the default positioning */
    bottom: -2px;
    background-color: rgb(66, 66, 68);
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
  }
}.cdk-overlay-container {
  z-index: 100000;
  width: 100%;
}

.widget-mobile {
  min-height: 200px;
}

.widget-400 {
  min-height: 400px;
}

.widget-200 {
  min-height: 200px;
}

.widget-horizontal-small {
  min-height: 20px;
}

.floating-panel {
  position: absolute;
  overflow-y: scroll;
  max-width: 30%;
  max-height: 50%;
  top: 0px;
  z-index: 5;
  background-color: rgba(190, 190, 186, 0.51);
  padding: 0px;
}

.floating-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  z-index: 5;
}

.floating-panel::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
  z-index: 5;
}

.floating-panel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #2e6899;
  z-index: 5;
}

label {
  display: inline-block;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  width: 10px;
  height: 10px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: rgb(131, 20, 20);
}
