<div class="animated fadeIn">


  <div class="row" *ngIf="!dashboardReady">
    Loading dashboard...
  </div>
  <div class="row" *ngIf="dashboardReady">

    <div class="col-md-12">
      <button *ngIf="!editFlag && !newWidgetFlag" class="btn btn-info pull-right" (click)="editDashboard()"><i
        class="fa fa-pencil"></i> Edit
        Dashboard
      </button>
      <button *ngIf="!editFlag && !newWidgetFlag" class="btn btn-success pull-right" (click)="addNewWidget()"><i
        class="fa fa-plus"></i> Add
        widget
      </button>
      <button *ngIf="editFlag || newWidgetFlag" class="btn btn-danger pull-right" (click)="cancel()"><i
        class="fa fa-"></i> Cancel
      </button>

      <h2 class=""><i class="fa {{dashboard.icon}}"></i> {{dashboard.name}}</h2>
      <hr>
    </div>

    <!--Edit Dashboard-->
    <div class="col-md-12" *ngIf="editFlag">
      <div class="card">
        <div class="card-header">
          <strong>Edit Dashboard</strong>
        </div>
        <div class="card-block">
          <h4 class="text-center">Dashboard information</h4>
          <hr>

          <!--Form Begin-->
          <form class="form-horizontal" #editForm="ngForm">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Device name" name="dashboard.name"
                       [(ngModel)]="dashboard.name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Dashboard description" name="dashboard.description"
                       [(ngModel)]="dashboard.description">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Icon <i class="fa {{dashboard.icon}}"></i></label>
              <div class="col-md-9">
                <ng-select #iconDashboardSelect
                           [placeholder]="dashboard.icon ? dashboard.icon : 'Select an icon'"
                           [allowClear]="true"
                           [items]="fontAwesomeList"
                           (selected)="selectIcon($event)">
                </ng-select>
              </div>
            </div>

            <button class="btn btn-sm btn-primary" [disabled]="!editForm.form.valid" (click)="saveDashboard()"><i
              class="fa fa-check"></i> Save Dashboard
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteDashboard()"><i class="fa fa-trash"></i> Delete
              Dashboard
            </button>
          </form>
        </div>
      </div>
    </div>
    <!--End Edit dashboard-->

    <!--Add new widget-->
    <div class="col-md-12" *ngIf="newWidgetFlag || editWidgetFlag">
      <div class="card">
        <div class="card-header">
          <strong>{{newWidgetFlag ? "Add new widget":"Edit widget"}}</strong>
        </div>
        <div class="card-block">

          <!--Form Begin-->
          <form class="form-horizontal" #newWidgetForm="ngForm">

            <div class="form-group row">
              <label class="col-md-3 form-control-label">Name <small class="text-danger">(required)</small></label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Widget name" name="newWidget.name" required
                       [(ngModel)]="newWidget.name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Description</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Widget description" name="newWidget.description"
                       [(ngModel)]="newWidget.description">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Icon <i class="fa {{newWidget.icon}}"></i></label>
              <div class="col-md-6">
                <ng-select #iconWidgetSelect
                           [placeholder]="newWidget.icon ? newWidget.icon : 'Select an icon'"
                           [allowClear]="true"
                           [items]="fontAwesomeList"
                           (selected)="newWidgetIcon($event)">
                </ng-select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label">Width <small class="text-danger">(required)</small><br>
                <small>Between 1 and 12</small>
              </label>
              <div class="col-md-6">
                <input type="number" min="1" max="12" class="form-control" placeholder="Widget width"
                       name="newWidget.width" required
                       [(ngModel)]="newWidget.width">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label">Type <small class="text-danger">(required)</small></label>
              <div class="col-md-6">
                <ng-select #widgetTypeSelect
                           [placeholder]="newWidget.type ? newWidget.type : 'Select a type'"
                           [allowClear]="true"
                           [items]="widgetType"
                           (selected)="newWidgetType($event)"
                           required>
                </ng-select>
              </div>
            </div>

            <hr>

            <!--Map widget-->
            <ng-container *ngIf="newWidget.type === 'map'" >
              <div class="form-group row" >
                <label class="col-md-3 form-control-label">Category</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [ngModel]="selectedCategory"
                          (ngModelChange)="addFilter($event, 'category')">
                    <option [ngValue]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                    <option [ngValue]=""></option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default zoom<br>
                  <small>Between 1 and 13</small>
                </label>
                <div class="col-md-6">
                  <input type="number" min="1" max="13" class="form-control" placeholder="Zoom"
                         name="newWidget.zoom" required
                         [(ngModel)]="newWidget.options.zoom">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default latitude</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" placeholder="Latitude"
                         name="newWidget.lat"
                         [(ngModel)]="newWidget.options.lat">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default longitude</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" placeholder="Longitude"
                         name="newWidget.lng"
                         [(ngModel)]="newWidget.options.lng">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Map type</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [(ngModel)]="newWidget.options.mapTypeId">
                    <option *ngFor="let value of mapTypeIdList" [ngValue]="value">{{value}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row" *ngIf="newWidget.options.mapTypeId === ''">
                <label class="col-md-3 form-control-label">Snazzy Map</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Past your snazzy map code here"
                         name="newWidget.snazzymap"
                         [(ngModel)]="newWidget.options.style">
                </div>
              </div>
            </ng-container>
            <!--End of Map widget-->

            <!--Table widget-->
            <ng-container *ngIf="newWidget.type === 'table'">
              <div class="form-group row" >
                <label class="col-md-3 form-control-label">Category</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [ngModel]="selectedCategory"
                          (ngModelChange)="addFilter($event, 'category')">
                    <option [ngValue]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                    <option [ngValue]=""></option>
                  </select>
                </div>
              </div>
            </ng-container>
            <!--End of Table widget-->

            <!--Tracking widget-->
            <ng-container *ngIf="newWidget.type === 'tracking'" >
              <div class="form-group row" >
                <label class="col-md-3 form-control-label">Category</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [ngModel]="selectedCategory"
                          (ngModelChange)="addFilter($event, 'category-tracking')">
                    <option [ngValue]="item.id" *ngFor="let item of categories">{{item.name}}</option>
                    <option [ngValue]=""></option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default zoom<br>
                  <small>Between 1 and 13</small>
                </label>
                <div class="col-md-6">
                  <input type="number" min="1" max="13" class="form-control" placeholder="Zoom"
                         name="newWidget.zoom" required
                         [(ngModel)]="newWidget.options.zoom">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default latitude</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" placeholder="Latitude"
                         name="newWidget.lat"
                         [(ngModel)]="newWidget.options.lat">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Default longitude</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" placeholder="Longitude"
                         name="newWidget.lng"
                         [(ngModel)]="newWidget.options.lng">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Map type</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [(ngModel)]="newWidget.options.mapTypeId">
                    <option *ngFor="let value of mapTypeIdList" [ngValue]="value">{{value}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row" *ngIf="newWidget.options.mapTypeId === ''">
                <label class="col-md-3 form-control-label">Snazzy Map</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Past your snazzy map code here"
                         name="newWidget.snazzymap"
                         [(ngModel)]="newWidget.options.style">
                </div>
              </div>
            </ng-container>
            <!--End of Tracking widget-->

            <!--Gauge widget-->
            <ng-container *ngIf="newWidget.type === 'gauge'">
              <div class="form-group row" >
                <label class="col-md-3 form-control-label">Device</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [ngModel]="selectedDevice"
                          (ngModelChange)="addFilter($event, 'device')">
                    <option [ngValue]="item" *ngFor="let item of devices">{{item.id + "(" + item.name ? item.name : "" +
                      ")"}}
                    </option>
                    <option [ngValue]=""></option>
                  </select>
                </div>
              </div>


              <div class="form-group row" *ngIf="selectedDevice">
                <label class="col-md-3 form-control-label">Select property</label>
                <div class="col-md-6">
                  <select name="categoryId" class="form-control" size="1" [ngModel]="">
                    <option [ngValue]="item" *ngFor="let o of selectedDevice.data_parsed">{{o.key}}</option>
                    <option [ngValue]=""></option>
                  </select>
                </div>

              </div>
            </ng-container>
            <!--End Gauge widget-->

            <button class="btn btn-sm btn-primary" *ngIf="newWidgetFlag" [disabled]="!newWidgetForm.form.valid"
                    (click)="addWidget()"><i
              class="fa fa-check"></i> Add widget
            </button>

            <button class="btn btn-sm btn-primary" *ngIf="editFlag" [disabled]="!newWidgetForm.form.valid"
                    (click)="updateWidget()"><i
              class="fa fa-check"></i> Edit widget
            </button>

          </form>

        </div>
      </div>
    </div>
    <!--End new widget-->


  </div>


  <!--Show widgets-->
  <div class="row" *ngIf="widgets.length == 0">
    Loading widgets...
  </div>
  <div class="row" *ngIf="widgets.length>0">
    <!--For each widget-->

    <div *ngFor="let widget of widgets" class="col col-md-{{widget.width}}">
      <div class="card">
        <!--card header-->
        <div class="card-header">
          <i class="fa {{widget.icon}} fa-lg"></i> <strong>{{widget.name}}</strong>
          <button class="btn btn-info pull-right" *ngIf="editFlag" (click)="editWidget(widget)"><i
            class="fa fa-pencil"></i></button>
          <button class="btn btn-danger pull-right" *ngIf="editFlag" (click)="deleteWidget(widget)"><i
            class="fa fa-trash"></i></button>
        </div>
        <!--End header-->

        <!--Card body-->
        <div class="card-block">
          <!--Map-->
          <ng-container *ngIf="widget.type=='map'">
            <ng-container *ngIf="widget.data">
              <agm-map [latitude]="widget.options.lat ? widget.options.lat : 0"
                       [longitude]="widget.options.lng ? widget.options.lng : 0"
                       [zoom]="widget.options.zoom ? widget.options.zoom : 2"
                       [fullscreenControl]="true"
                       [mapTypeId]="widget.options.mapTypeId ? widget.options.mapTypeId: 'roadmap' "
                       [styles]="widget.options.style ? widget.options.style: '' ">
                <ng-container *ngFor="let device of widget.data; let i = index">
                  <ng-container *ngFor="let geoloc of device.location">
                    <!-- Geoloc Sigfox -->
                    <ng-container *ngIf="geoloc.type === 'sigfox'">
                      <agm-marker
                        (mouseOut)="markerOut(i)"
                        (mouseOver)="markerOver(i)"
                        [zIndex]="3"
                        [latitude]="geoloc.lat"
                        [longitude]="geoloc.lng"
                        [iconUrl]="'assets/img/marker-sigfox.png'">
                        <agm-info-window
                          id="{{geoloc.type + '_' + device.id}}">
                          <strong><b>ID:</b> <span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name:</b> {{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                          <br>
                          <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                          <br>
                          <strong><b>Precision:</b> {{geoloc.precision}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                  [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#8d5dd1'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#8d5dd1'"
                                  [latitude]="geoloc.lat"
                                  [longitude]="geoloc.lng"
                                  [radius]="geoloc.precision">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                    <!-- Geoloc GPS -->
                    <ng-container *ngIf="geoloc.type === 'GPS'">
                      <agm-marker
                        [zIndex]="3"
                        [latitude]="geoloc.lat"
                        [longitude]="geoloc.lng"
                        [iconUrl]="'assets/img/marker-gps.png'">
                        <agm-info-window
                          id="{{geoloc.type + '_' + device.id}}">
                          <strong><b>ID:</b> <span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name:</b> {{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                          <br>
                          <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                        </agm-info-window>
                      </agm-marker>
                    </ng-container>
                  </ng-container>
                </ng-container>

              </agm-map>
            </ng-container>
          </ng-container>
          <!--End of Map widget-->

          <!--Table-->
          <ng-container *ngIf="widget.type=='table'">
            <div *ngIf="widget.data" class="table-responsive">
              <table class="table table-hover" [mfData]="widget.data" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead class="thead-inverse">
                <tr>
                  <th class="text-center">
                    <mfDefaultSorter by="id"><i class="fa fa-sort"></i> ID</mfDefaultSorter>
                  </th>
                  <th class="text-center">
                    <mfDefaultSorter by="downlinkData"><i class="fa fa-sort"></i> Info</mfDefaultSorter>
                  </th>
                  <th class="text-center">Last Message</th>
                  <th class="text-center">
                    <mfDefaultSorter by="data_parsed"><i class="fa fa-sort"></i> Data</mfDefaultSorter>
                  </th>
                  <th class="text-center">
                    <mfDefaultSorter by="properties"><i class="fa fa-sort"></i> Properties</mfDefaultSorter>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let device of mf.data; let i = index">
                  <td class="text-center">
                    <a [routerLink]="['/device-messages', device.id]"><strong class="text-device">{{device.id}}</strong></a>
                  </td>
                  <td>
                    <div class="small">
                      <span class="text-gray-dark">Name: </span>
                      <span class="text-device">{{device.name ? device.name : "None"}}</span>
                    </div>
                    <div class="small">
                      <span class="text-gray-dark">Parser: </span>
                      <span class="text-parser">{{device.Parser ? device.Parser.name : "None"}}</span>
                    </div>
                    <div class="small">
                      <span class="text-gray-dark">Category: </span>
                      <span class="text-category">{{device.Category ? device.Category.name : "None"}}</span>
                    </div>
                    <div *ngIf="device.downlinkData" class="small">
                      <span class="text-gray-dark">Downlink: </span>
                      <span class="text-message">{{device.downlinkData}}</span>
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="small text-gray-dark">{{device.Messages[0].createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</div>
                    <strong>{{device.Messages[0].createdAt | amTimeAgo}}</strong>
                  </td>
                  <td>
                    <div *ngIf="!device.data_parsed" class="small text-muted">No data</div>
                    <div *ngIf="device.data_parsed">
                      <div class="small text-gray-dark" *ngFor="let property of device.data_parsed; let i = index">
                        <small *ngIf="property.value">{{property.key}}: <strong>{{property.value}} {{property.unit}}</strong></small>
                        <!--<span class="font-weight-bold">{{property.key ? property.key : ""}}: </span>-->
                        <!--<span class="text-primary">{{property.value ? property.value : ""}}</span>-->
                      </div>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="!device.categoryId" class="small text-muted">No properties yet</div>
                    <div *ngIf="device.categoryId">
                      <div class="small text-gray-dark" *ngFor="let property of device.properties; let i = index">
                        <small *ngIf="property.value">{{property.key}}: <strong>{{property.value}} {{property.unit}}</strong></small>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </ng-container>
          <!--End of Table widget-->

          <!--Tracking-->
          <ng-container *ngIf="widget.type=='tracking'">
            <div class="row" *ngIf="widget.data">
              <div class="col-md-2 table-responsive">
                <table class="table table-hover">
                  <thead class="thead-inverse">
                  <tr>
                    <th class="text-center">Device</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let device of widget.data; let i = index">
                    <td class="text-center table-info" (click)="toggleDeviceWidgetVisibility(widget, device)">{{device.id}} {{device.name ? "(" + device.name + ")" : ""}}</td>
                  </tr>
                  <tr>
                    <td class="text-center table-danger">TEST1</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-10">
                <agm-map [latitude]="widget.options.lat ? widget.options.lat : 0"
                         [longitude]="widget.options.lng ? widget.options.lng : 0"
                         [zoom]="widget.options.zoom ? widget.options.zoom : 2"
                         [fullscreenControl]="true"
                         [mapTypeId]="widget.options.mapTypeId ? widget.options.mapTypeId: 'roadmap' "
                         [styles]="widget.options.style ? widget.options.style: '' ">

                  <ng-container *ngFor="let device of widget.data; let i = index">
                    <!-- Polylines -->
                    <agm-polyline
                      *ngIf="polylines"
                      [zIndex]="2"
                      [geodesic]="true"
                      [strokeOpacity]="0.5">
                      <ng-container *ngFor="let marker of device.Messages">
                        <ng-container *ngFor="let geoloc of marker.geoloc">
                          <agm-polyline-point
                            [latitude]="geoloc.lat"
                            [longitude]="geoloc.lng">
                          </agm-polyline-point>
                        </ng-container>
                      </ng-container>
                    </agm-polyline>
                    <!-- End Polylines -->


                    <!-- Markers -->
                    <ng-container *ngFor="let marker of device.Messages; let i = index">

                      <ng-container [ngSwitch]=i>
                        <!-- Start Point -->
                        <ng-container *ngSwitchCase="0">
                          <ng-container *ngFor="let geoloc of marker.geoloc">
                            <ng-container *ngIf="geoloc.type === 'sigfox'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="4"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-start.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Precision:</b> {{geoloc.precision}} m</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}} - <span class="text-success">START</span></strong>
                                </agm-info-window>
                              </agm-marker>
                              <!-- Circle -->
                              <agm-circle *ngIf="circlePrecision || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                          [zIndex]="1"
                                          [strokePosition]="CENTER"
                                          [strokeWeight]="1"
                                          [strokeColor]="'#8d5dd1'"
                                          [fillOpacity]="0.1"
                                          [fillColor]="'#8d5dd1'"
                                          [latitude]="geoloc.lat"
                                          [longitude]="geoloc.lng"
                                          [radius]="geoloc.precision">
                              </agm-circle>
                              <!-- End Circle -->
                            </ng-container>
                            <ng-container *ngIf="geoloc.type === 'GPS'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="4"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-start.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}} - <span class="text-success">START</span></strong>
                                </agm-info-window>
                              </agm-marker>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <!-- End Start Point -->

                        <!-- Finish Point -->
                        <ng-container *ngSwitchCase="device.Messages.length - 1">
                          <ng-container *ngFor="let geoloc of marker.geoloc">
                            <ng-container *ngIf="geoloc.type === 'sigfox'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="4"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-finish.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Precision:</b> {{geoloc.precision}} m</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}} - <span class="text-danger">FINISH</span></strong>
                                </agm-info-window>
                              </agm-marker>
                              <!-- Circle -->
                              <agm-circle *ngIf="circlePrecision || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                          [zIndex]="1"
                                          [strokePosition]="CENTER"
                                          [strokeWeight]="1"
                                          [strokeColor]="'#8d5dd1'"
                                          [fillOpacity]="0.1"
                                          [fillColor]="'#8d5dd1'"
                                          [latitude]="geoloc.lat"
                                          [longitude]="geoloc.lng"
                                          [radius]="geoloc.precision">
                              </agm-circle>
                              <!-- End Circle -->
                            </ng-container>
                            <ng-container *ngIf="geoloc.type === 'GPS'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="4"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-finish.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}} - <span class="text-danger">FINISH</span></strong>
                                </agm-info-window>
                              </agm-marker>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <!-- End Finish Point -->

                        <!-- Default -->
                        <ng-container *ngSwitchDefault>
                          <ng-container *ngFor="let geoloc of marker.geoloc">
                            <!-- Geoloc Sigfox -->
                            <ng-container *ngIf="geoloc.type === 'sigfox'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="3"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-sigfox.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Precision:</b> {{geoloc.precision}} m</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}}</strong>
                                </agm-info-window>
                              </agm-marker>
                              <!-- Circle -->
                              <agm-circle *ngIf="circlePrecision || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                          [zIndex]="1"
                                          [strokePosition]="CENTER"
                                          [strokeWeight]="1"
                                          [strokeColor]="'#8d5dd1'"
                                          [fillOpacity]="0.1"
                                          [fillColor]="'#8d5dd1'"
                                          [latitude]="geoloc.lat"
                                          [longitude]="geoloc.lng"
                                          [radius]="geoloc.precision">
                              </agm-circle>
                              <!-- End Circle -->
                            </ng-container>
                            <!-- Geoloc GPS -->
                            <ng-container *ngIf="geoloc.type === 'GPS'">
                              <agm-marker
                                (mouseOut)="markerOut(i)"
                                (mouseOver)="markerOver(i)"
                                [zIndex]="3"
                                [latitude]="geoloc.lat"
                                [longitude]="geoloc.lng"
                                [iconUrl]="'assets/img/marker-gps.png'">
                                <agm-info-window>
                                  <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                                  <br>
                                  <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                                  <br>
                                  <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                                  <br>
                                  <strong><b>Position: </b> n°{{i}}</strong>
                                </agm-info-window>
                              </agm-marker>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <!-- End Default -->


                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="device.Messages.length > 0">
                      <agm-directions [routesColor]="'#d71223'" [geolocMessages]="device.Messages"></agm-directions>
                    </ng-container>
                  </ng-container>
                </agm-map>
              </div>
            </div>
          </ng-container>
          <!--End of Tracking widget-->

          <ng-container *ngIf="widget.type!='map' && widget.type!='table' && widget.type!='tracking'">{{widget.type}}</ng-container>
        </div>
      </div>
    </div>

    <!--End of for each widget-->
  </div>
  <!--End Show widgets-->


</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

