.floating-panel {
  position: absolute;
  overflow-y: scroll;
  max-width: 30%;
  max-height: 50%;
  top: 0px;
  z-index: 5;
  background-color: rgba(190, 190, 186, 0.51);
  padding: 0px;
}

.floating-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  z-index: 5;
}

.floating-panel::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
  z-index: 5;
}

.floating-panel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #2e6899;
  z-index: 5;
}

label {
  display: inline-block;
}
