<div class="animated fadeIn">

  <div class="row mb-1">
    <div class="col-sm-12 col-md-12">
      <div *ngIf="!devices.length" class="card-block">
        Loading devices...
        <div class="sk-double-bounce">
          <div class="sk-child sk-double-bounce1"></div>
          <div class="sk-child sk-double-bounce2"></div>
        </div>
      </div>
      <ng-select #devicesSelect
                 [placeholder]="'Select a device'"
                 [allowClear]="false"
                 [items]="devices"
                 (selected)="deviceSelected($event)">
      </ng-select>
    </div>
  </div>

  <div class="row">

    <div *ngIf="message" class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-clock-o fa-lg"></i> <strong> Latest message date & time</strong>
        </div>
        <div class="card-block mx-auto text-center">
          <p class="lead">{{message.createdAt | date:"yyyy/MM/dd - HH:mm:ss"}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="humidity.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-tint fa-lg"></i> <strong> Humidity</strong>
        </div>
        <div class="card-block mx-auto">
          <ngx-gauge #gauge
                     [type]="'arch'"
                     [size]="200"
                     [cap]="'round'"
                     [thick]="15"
                     [value]="humidity.value"
                     [label]="'Humidity'"
                     [append]="humidity.unit"
                     [thresholds]="thresholdHumidity">
          </ngx-gauge>
        </div>
      </div>
    </div>

    <div *ngIf="temperature.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-thermometer fa-lg"></i> <strong> Temperature</strong>
        </div>
        <div class="card-block mx-auto">
          <ngx-gauge #gauge
                     [type]="'arch'"
                     [size]="200"
                     [cap]="'round'"
                     [min]="-50"
                     [max]="50"
                     [thick]="15"
                     [value]="temperature.value"
                     [label]="'Temperature'"
                     [append]="temperature.unit"
                     [thresholds]="thresholdTemperature">
          </ngx-gauge>
        </div>
      </div>
    </div>

    <div *ngIf="speed.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-road fa-lg"></i> <strong> Speed</strong>
        </div>
        <div class="card-block mx-auto">
          <ngx-gauge #gauge
                     [type]="'arch'"
                     [size]="200"
                     [cap]="'round'"
                     [min]="0"
                     [max]="150"
                     [thick]="15"
                     [value]="speed.value"
                     [label]="'Speed'"
                     [append]="speed.unit"
                     [thresholds]="thresholdSpeed">
          </ngx-gauge>
        </div>
      </div>
    </div>

    <div *ngIf="battery.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-battery-three-quarters fa-lg"></i> <strong> Battery</strong>
        </div>
        <div class="card-block mx-auto">
          <ngx-gauge #gauge
                     *ngIf="battery.unit === '%'"
                     [type]="'arch'"
                     [size]="200"
                     [cap]="'round'"
                     [thick]="15"
                     [value]="battery.value"
                     [label]="'Battery'"
                     [append]="battery.unit"
                     [thresholds]="thresholdBattery">
          </ngx-gauge>
          <h1 *ngIf="battery.unit != '%'">{{battery.value}} <span class="small">{{battery.unit}}</span></h1>
        </div>
      </div>
    </div>

    <div *ngIf="altitude.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-cloud fa-lg"></i> <strong> Altitude</strong>
        </div>
        <div class="card-block mx-auto">
          <h1>{{altitude.value}} <span class="small">{{altitude.unit}}</span></h1>
        </div>
      </div>
    </div>

    <div *ngIf="pressure.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-sun-o fa-lg"></i> <strong> Pressure</strong>
        </div>
        <div class="card-block mx-auto">
          <h1>{{pressure.value}} <span class="small">{{pressure.unit}}</span></h1>
        </div>
      </div>
    </div>

    <div *ngIf="light.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-lightbulb-o fa-lg"></i> <strong> Lux</strong>
        </div>
        <div class="card-block mx-auto">
          <h1>{{light.value}} <span class="small">{{light.unit}}</span></h1>
        </div>
      </div>
    </div>

    <div *ngIf="alert.value" class="col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-bell fa-lg"></i> <strong> Alert <ng-container *ngIf="mode">- <span class="text-primary">{{mode.value | lowercase}}</span></ng-container></strong>
        </div>
        <div class="card-block mx-auto">
          <div *ngIf="alert.value" class="text-danger text-center">
            <i class="fa fa-circle fa-5x"></i>
            <h3>{{alert.value}}</h3>
          </div>
          <div *ngIf="!alert.value" class="text-success text-center">
            <i class="fa fa-circle-o fa-5x"></i>
            <h3>{{alert.value}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="message && message.geoloc" class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker fa-lg"></i> <strong> Location</strong>
        </div>
        <div class="card-block">
          <agm-map [latitude]="message.geoloc[0].lat"
                   [longitude]="message.geoloc[0].lng"
                   [zoom]="10"
                   [zoomControl]="false"
                   [streetViewControl]="false"
                   [mapTypeControl]="false"
                   [fullscreenControl]="false">
            <ng-container *ngFor="let geoloc of message.geoloc">
              <!-- Geoloc Sigfox -->
              <ng-container *ngIf="geoloc.type === 'sigfox'">
                <agm-marker
                  [zIndex]="3"
                  [latitude]="geoloc.lat"
                  [longitude]="geoloc.lng"
                  [iconUrl]="'assets/img/marker-sigfox.png'">
                  <agm-info-window>
                    <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                    <br>
                    <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    <br>
                    <strong><b>Precision:</b> {{geoloc.precision}} m</strong>
                  </agm-info-window>
                </agm-marker>
                <!-- Circle -->
                <agm-circle [zIndex]="1"
                            [strokePosition]="CENTER"
                            [strokeWeight]="1"
                            [strokeColor]="'#8d5dd1'"
                            [fillOpacity]="0.1"
                            [fillColor]="'#8d5dd1'"
                            [latitude]="geoloc.lat"
                            [longitude]="geoloc.lng"
                            [radius]="geoloc.precision">
                </agm-circle>
                <!-- End Circle -->
              </ng-container>
              <!-- Geoloc GPS -->
              <ng-container *ngIf="geoloc.type === 'GPS'">
                <agm-marker
                  [zIndex]="3"
                  [latitude]="geoloc.lat"
                  [longitude]="geoloc.lng"
                  [iconUrl]="'assets/img/marker-gps.png'">
                  <agm-info-window>
                    <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                    <br>
                    <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                  </agm-info-window>
                </agm-marker>
              </ng-container>
            </ng-container>
          </agm-map>
        </div>
      </div>
    </div>

  </div> <!-- </row> -->


</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
