<div class="animated fadeIn">

  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-2">
          <i class="fa fa-tag"></i>
        </div>
        <div class="h4 mb-0">{{countCategories}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Categories</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-2">
          <i class="fa fa-thermometer-half"></i>
        </div>
        <div class="h4 mb-0">{{countDevices}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Devices</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-2">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="h4 mb-0">{{countMessages}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Messages</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-2">
          <i class="fa fa-code"></i>
        </div>
        <div class="h4 mb-0">{{countParsers}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Parsers</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Last Messages</div>
    <div *ngIf="!messages.length" class="card-block">
      No message yet...
    </div>
    <div *ngIf="messages.length>0" class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="messages | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="createdAt">Date</mfDefaultSorter>
          </th>
          <th style="width: 40%">
            <mfDefaultSorter by="data">Data</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="deviceId">Device</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="geolocation">Geoloc</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{item.data}}</td>
          <td>{{item.deviceId}}</td>
          <td>{{item.geolocation}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!--<div class="card-columns cols-2">-->
  <!--<div class="card">-->
  <!--<div class="card-header">-->
  <!--Line Chart-->
  <!--<div class="card-actions">-->
  <!--<a href="http://www.chartjs.org">-->
  <!--<small class="text-muted">docs</small>-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="card-block">-->
  <!--<div class="chart-wrapper">-->
  <!--<canvas baseChart class="chart"-->
  <!--[datasets]="lineChartData"-->
  <!--[labels]="lineChartLabels"-->
  <!--[options]="lineChartOptions"-->
  <!--[colors]="lineChartColours"-->
  <!--[legend]="lineChartLegend"-->
  <!--[chartType]="lineChartType"-->
  <!--(chartHover)="chartHovered($event)"-->
  <!--(chartClick)="chartClicked($event)"></canvas>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>
