<div class="animated fadeIn">

  <div *ngIf="devices.length > 0" class="card">
    <div class="card-header">
      <i class="fa fa-map-marker fa-lg text-tracking"></i> <strong>Map</strong>
    </div>
    <div class="card-block">
      <agm-map [latitude]="mapLat"
               [longitude]="mapLng"
               [zoom]="mapZoom"
               [mapTypeControl]="true"
               [fullscreenControl]="true">
        <ng-container *ngFor="let device of devices; let i = index">
          <ng-container *ngIf="device.Messages[0] && device.Messages[0].Geolocs">
            <ng-container *ngFor="let geoloc of device.Messages[0].Geolocs">
              <!-- Sigfox -->
              <ng-container *ngIf="geoloc.type === 'sigfox'">
                <agm-marker
                  (mouseOut)="markerOut(i)"
                  (mouseOver)="markerOver(i)"
                  [zIndex]="3"
                  [latitude]="geoloc.location.lat"
                  [longitude]="geoloc.location.lng"
                  [iconUrl]="'assets/img/markers/marker-sigfox.png'">
                  <agm-info-window id="{{geoloc.id}}">
                    <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                    <br>
                    <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                    <br *ngIf="device.name">
                    <strong><b>Type: </b><span class="text-geoloc-sigfox">Sigfox</span></strong>
                    <br>
                    <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    <br>
                    <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                  </agm-info-window>
                </agm-marker>
                <!-- Circle -->
                <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                            [zIndex]="1"
                            [strokePosition]="CENTER"
                            [strokeWeight]="1"
                            [strokeColor]="'#8d5dd1'"
                            [fillOpacity]="0.1"
                            [fillColor]="'#8d5dd1'"
                            [latitude]="geoloc.location.lat"
                            [longitude]="geoloc.location.lng"
                            [radius]="geoloc.accuracy">
                </agm-circle>
                <!-- End Circle -->
              </ng-container>
              <!-- Geoloc GPS -->
              <ng-container *ngIf="geoloc.type === 'gps'">
                <agm-marker
                  [zIndex]="3"
                  [latitude]="geoloc.location.lat"
                  [longitude]="geoloc.location.lng"
                  [iconUrl]="'assets/img/markers/marker-gps.png'">
                  <agm-info-window id="{{geoloc.id}}">
                    <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                    <br>
                    <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                    <br *ngIf="device.name">
                    <strong><b>Type: </b><span class="text-geoloc-gps">GPS</span></strong>
                    <br>
                    <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                  </agm-info-window>
                </agm-marker>
              </ng-container>
              <!-- Geoloc Beacon -->
              <ng-container *ngIf="geoloc.type === 'beacon'">
                <agm-marker
                  (mouseOut)="markerOut(i)"
                  (mouseOver)="markerOver(i)"
                  [zIndex]="3"
                  [latitude]="geoloc.location.lat"
                  [longitude]="geoloc.location.lng"
                  [iconUrl]="'assets/img/markers/marker-beacon.png'">
                  <agm-info-window id="{{geoloc.id}}">
                    <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                    <br>
                    <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                    <br *ngIf="device.name">
                    <strong><b>Type: </b><span class="text-geoloc-beacon">Beacon</span></strong>
                    <br>
                    <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    <br>
                    <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                  </agm-info-window>
                </agm-marker>
                <!-- Circle -->
                <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                            [zIndex]="1"
                            [strokePosition]="CENTER"
                            [strokeWeight]="1"
                            [strokeColor]="'#3c58ce'"
                            [fillOpacity]="0.1"
                            [fillColor]="'#3c58ce'"
                            [latitude]="geoloc.location.lat"
                            [longitude]="geoloc.location.lng"
                            [radius]="geoloc.accuracy">
                </agm-circle>
                <!-- End Circle -->
              </ng-container>
              <!-- Geoloc WiFi -->
              <ng-container *ngIf="geoloc.type === 'wifi'">
                <agm-marker
                  (mouseOut)="markerOut(i)"
                  (mouseOver)="markerOver(i)"
                  [zIndex]="3"
                  [latitude]="geoloc.location.lat"
                  [longitude]="geoloc.location.lng"
                  [iconUrl]="'assets/img/markers/marker-wifi.png'">
                  <agm-info-window id="{{geoloc.id}}">
                    <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                    <br>
                    <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                    <br *ngIf="device.name">
                    <strong><b>Type: </b><span class="text-geoloc-wifi">WiFi</span></strong>
                    <br>
                    <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                    <br>
                    <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    <br>
                    <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                  </agm-info-window>
                </agm-marker>
                <!-- Circle -->
                <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                            [zIndex]="1"
                            [strokePosition]="CENTER"
                            [strokeWeight]="1"
                            [strokeColor]="'#000000'"
                            [fillOpacity]="0.1"
                            [fillColor]="'#000000'"
                            [latitude]="geoloc.location.lat"
                            [longitude]="geoloc.location.lng"
                            [radius]="geoloc.accuracy">
                </agm-circle>
                <!-- End Circle -->
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

      </agm-map>

    </div>
  </div>

  <div class="row">

    <div [ngClass]="(edit)?'col-md-6 col-xs-12':'col-12 col-sm-12'">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div *ngIf="!organization" class="col-md-6">
              <i class="fa fa-microchip fa-lg text-device"></i><strong> Devices</strong>
            </div>
            <div *ngIf="organization" class="col-md-6">
              <i class="fa fa-microchip fa-lg text-device"></i><strong> Shared devices</strong>
            </div>
            <div class="col-md-4 offset-md-2">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!devicesReady">
            Loading devices...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="devicesReady && !devices.length">
            No devices yet...
          </ng-container>

          <!-- Table -->
          <div *ngIf="devices.length > 0" class="table-responsive">
            <table class="table table-hover table-outline" [mfData]="devices | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="20">
              <thead class="thead-inverse">
              <tr>
                <th class="text-center">
                  <mfDefaultSorter by="id"><i class="fa fa-sort"></i> ID</mfDefaultSorter>
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="name"><i class="fa fa-sort"></i> Info</mfDefaultSorter>
                </th>
                <th *ngIf="!edit" class="text-center">
                  Geoloc
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="updatedAt"><i class="fa fa-sort"></i> Last message</mfDefaultSorter>
                </th>
                <th *ngIf="!edit" class="text-center">
                  <mfDefaultSorter by="properties"><i class="fa fa-sort"></i> Properties</mfDefaultSorter>
                </th>
                <th *ngIf="!edit && appSettings[0].value === true" class="text-center">
                  <mfDefaultSorter by="successRate"><i class="fa fa-sort"></i> Success Rate</mfDefaultSorter>
                </th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let device of mf.data; let i = index">
                <td class="text-center">
                  <a [routerLink]="[!organization ? '/messages' : '/organization/' + organization.id + '/messages', device.id]"><strong class="text-device">{{device.id}}</strong></a>
                </td>
                <td>
                  <div class="small">
                    <span class="text-gray-dark">Name: </span>
                    <span class="text-device">{{device.name ? device.name : "None"}}</span>
                  </div>
                  <div class="small">
                    <span class="text-gray-dark">Parser: </span>
                    <span class="text-parser">{{device.Parser ? device.Parser.name : "None"}}</span>
                  </div>
                  <div class="small">
                    <span class="text-gray-dark">Category: </span>
                    <span class="text-category">{{device.Category ? device.Category.name : "None"}}</span>
                  </div>
                  <div *ngIf="device.data_downlink" class="small">
                    <span class="text-gray-dark">Downlink: </span>
                    <span class="text-message">{{device.data_downlink}}</span>
                  </div>
                </td>
                <td *ngIf="!edit" class="text-center">
                  <div *ngIf="device.Messages[0] && device.Messages[0].Geolocs">
                    <div *ngFor="let geoloc of device.Messages[0].Geolocs">
                      <div class="row">
                        <div class="col col-12">
                          <ng-container *ngIf="geoloc.type === 'sigfox'">
                            <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)" class="small text-geoloc-sigfox">
                              <i class="fa fa-map-marker fa-2x"></i>
                              <br>
                              <strong>Sigfox</strong>
                            </a>
                          </ng-container>
                          <ng-container *ngIf="geoloc.type === 'gps'">
                            <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)" class="small text-geoloc-gps">
                              <i class="fa fa-map-marker fa-2x"></i>
                              <br>
                              <strong>GPS</strong>
                            </a>
                          </ng-container>
                          <ng-container *ngIf="geoloc.type === 'beacon'">
                            <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)" class="small text-geoloc-beacon">
                              <i class="fa fa-map-marker fa-2x"></i>
                              <br>
                              <strong>Beacon</strong>
                            </a>
                          </ng-container>
                          <ng-container *ngIf="geoloc.type == 'wifi'">
                            <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)" class="small text-geoloc-wifi">
                              <i class="fa fa-map-marker fa-2x"></i>
                              <br>
                              <strong>WiFi</strong>
                            </a>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
                <td class="text-center">
                  <div class="small text-gray-dark">{{device.Messages[0] ? (device.Messages[0].createdAt | date:"yyyy/MM/dd HH:mm:ss") : 'No messages yet'}}</div>
                  <strong>{{device.Messages[0] ? (device.Messages[0].createdAt | amTimeAgo) : ''}}</strong>
                </td>
                <td *ngIf="!edit">
                  <div *ngIf="!device.properties" class="small text-muted text-center">No properties</div>
                  <div *ngIf="device.properties && device.properties.length === 0" class="small text-muted text-center">No properties yet</div>
                  <div *ngIf="device.properties && device.properties.length > 0">
                    <div class="small text-gray-dark" *ngFor="let property of device.properties; let i = index">
                      <span class="font-weight-bold">{{property.key ? property.key : ""}}: </span>
                      <span class="text-primary">{{property.value ? property.value : ""}}</span>
                    </div>
                  </div>
                </td>
                <td *ngIf="!edit && appSettings[0].value === true" class="text-center">
                  <strong *ngIf="device.successRate" tooltip="Based on the last 100 received">{{device.successRate + ' %'}}</strong>
                  <span *ngIf="!device.successRate">N/A</span>
                </td>
                <td class="text-center">
                  <div class="btn-group-sm">
                    <button class="btn btn-outline-primary btn-round" tooltip="Edit device"
                            (click)="editDevice(device)"><i class="fa fa-pencil fa-lg"></i></button>
                    <button class="btn btn-outline-danger btn-round" tooltip="Delete device"
                            (click)="showRemoveModal(device)"><i class="fa fa-trash fa-lg"></i></button>
                  </div>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- End Table -->

        </div>
      </div>
    </div>

    <div *ngIf="edit" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-wrench fa-lg"></i> <strong>Edit device</strong> - <span class="text-device">{{deviceToEdit.name ? deviceToEdit.name : deviceToEdit.id}}</span>
          <button class="mt-0 btn btn-outline-secondary pull-right" (click)="cancel()"><i
            class="fa fa-close text-danger"></i></button>
        </div>
        <div class="card-block">

          <div class="mb-1">
            <i class="fa fa-clock-o fa-lg"></i> Last update:
            <strong>{{deviceToEdit.updatedAt | amTimeAgo}}</strong>
          </div>

          <form (ngSubmit)="updateDevice()" class="form-horizontal" #editForm="ngForm">
            <tabset class="table-responsive">
              <tab heading="Information" id="tab1">
                <!-- ID -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">ID</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Device ID" name="deviceToEdit.id" disabled
                           [(ngModel)]="deviceToEdit.id">
                  </div>
                </div>
                <!-- Name -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Device name" name="deviceToEdit.name"
                           [(ngModel)]="deviceToEdit.name">
                  </div>
                </div>
                <!-- Parser -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Parser</label>
                  <div class="col-md-9">
                    <select name="device.parserId" class="form-control" size="1" [(ngModel)]="deviceToEdit.parserId">
                      <option [ngValue]="parser.id" *ngFor="let parser of parsers">{{parser.name}}</option>
                      <option [ngValue]=""></option>
                    </select>
                  </div>
                </div>
                <!-- Category -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Category</label>
                  <div class="col-md-9">
                    <select name="deviceToEdit.categoryId" class="form-control" size="1"
                            [(ngModel)]="deviceToEdit.categoryId" (ngModelChange)="updateDeviceCategory()">
                      <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                      <option [ngValue]=""></option>
                    </select>
                  </div>
                </div>
                <div *ngIf="deviceToEdit.categoryId">
                  <div class="form-group row" *ngFor="let property of deviceToEdit.properties; let i = index">
                    <label class="col-md-3 offset-1 form-control-label">{{property.key}}</label>
                    <div class="col-md-8">
                      <input type="{{property.type}}" class="form-control" placeholder="{{property.key}}"
                             name="deviceToEdit.property.value"
                             [(ngModel)]="property.value" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>

                <!-- PEK -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">PEK (payload encryption)</label>
                  <div class="col-md-9">
                    <input #pek="ngModel" type="text" class="form-control"
                           placeholder="PEK code in HEX"
                           name="pek" maxlength="32" pattern="([a-fA-F0-9]{32})$"
                           [(ngModel)]="deviceToEdit.pek">
                    <div [hidden]="pek.valid || pek.pristine" class="text-danger">
                      Length must be 16 bytes, in hexadecimal
                    </div>
                  </div>
                </div>

                <!-- Downlink data -->
                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Downlink payload</label>
                  <div class="col-md-9">
                    <input #data_downlink="ngModel" type="text" class="form-control"
                           placeholder="Downlink payload in HEX"
                           name="data_downlink" maxlength="16" pattern="([a-fA-F0-9]{16})$"
                           [(ngModel)]="deviceToEdit.data_downlink">
                    <div [hidden]="data_downlink.valid || data_downlink.pristine"
                         class="text-danger">
                      Length must be 8 bytes, in hexadecimal
                    </div>
                  </div>
                </div>
              </tab>

              <tab heading="Operations" class="text-center">

                <div class="col col-md-12 mb-1">
                  <p *ngIf="loadingFromBackend" class="font-italic font-weight-bold">This operation can take time...</p>
                  <button tooltip="Retrieve messages from Sigfox Backend" class="btn btn-round btn-primary btn-ladda" data-style="slide-up" [ladda]='loadingFromBackend' (click)="$event.preventDefault(); showRetrievalModal()">
                    <i class="fa fa-database"></i> &nbsp; Retrieve
                  </button>
                </div>
                <div class="col col-md-12">
                  <p *ngIf="parseMessages" class="font-italic font-weight-bold">This operation can take time...</p>
                  <button tooltip="Decode all messages for current parser" class="btn btn-round btn-primary btn-ladda" data-style="slide-up" [ladda]='loadingParseMessages' (click)="$event.preventDefault(); showParseModal()">
                    <i class="fa fa-code"></i> &nbsp; Parse
                  </button>
                </div>
                <div class="col col-md-12">
                  <p></p>
                  <button tooltip="Download messages (CSV)" class="btn btn-round btn-success btn-ladda" data-style="slide-up" [ladda]='loadingDownload' (click)="$event.preventDefault(); download('csv');">
                    <i class="fa fa-download"></i> &nbsp; Download
                  </button>
                </div>
                <div class="col col-md-12">
                  <p></p>
                  <button tooltip="Share this device" class="btn btn-round btn-organization btn-ladda" data-style="slide-up" (click)="$event.preventDefault(); showShareDeviceWithOrganizationModal()">
                    <i class="fa fa-share"></i> &nbsp; Share
                  </button>
                </div>
                <div *ngIf="deviceToEdit.Organizations.length>0" class="col col-md-12">
                  <p></p>
                  <table class="table table-hover table-outline" [mfData]="deviceToEdit.Organizations" #mf="mfDataTable" [mfRowsOnPage]="20">
                    <thead class="thead-inverse">
                    <tr>
                      <th class="text-center">
                        <mfDefaultSorter by="name"><i class="fa fa-sort"></i> Name</mfDefaultSorter>
                      </th>
                      <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let orga of mf.data; let i = index">
                      <td class="text-center">
                        <a [routerLink]="['/organization/' + orga.id]"><strong class="text-organization">{{orga.name}}</strong></a>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-outline-organization btn-round" tooltip="Unshare this device"
                                (click)="unshare(orga, deviceToEdit, i)"><i class="fa fa-sign-out fa-lg"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </tab>
            </tabset>
          </form>

        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" [disabled]="!editForm.form.valid" (click)="updateDevice()"><i
            class="fa fa-check"></i> Update
          </button>
          <button class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
        </div>

      </div>
    </div>

  </div>

</div>


<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm removal of <b>{{deviceToRemove.id}}</b></h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this device (id: <b>{{deviceToRemove.id}}</b>) and <span class="text-danger">all its corresponding <b>messages</b></span>
        ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="remove()">Delete</button>
        <button class="btn btn-sm btn-default" (click)="confirmModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmDBModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDBModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm messages retrieval of <b>{{deviceToEdit.id}}</b></h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to fetch all the messages belonging to the device <b>{{deviceToEdit.id}}</b> from the Sigfox
          Backend.</p>
        <p class="font-italic"><u>This process may take some time</u>, please do not leave this page.</p>
        <p>Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-success" (click)="retrieveMessages(deviceToEdit.id, null, null)">Retrieve</button>
        <button class="btn btn-sm btn-default" (click)="confirmDBModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmParseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmParseModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm parse messages of <b>{{deviceToEdit.id}}</b></h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to parse all the messages belonging to the device <b>{{deviceToEdit.id}}</b></p>
        <p class="font-italic"><u>This process may take some time</u>, please do not leave this page.</p>
        <p>Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-success" (click)="parseAllMessages(deviceToEdit.id)">Parse</button>
        <button class="btn btn-sm btn-default" (click)="confirmParseModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #shareDeviceWithOrganizationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shareDeviceWithOrganizationModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share this device <b>{{deviceToEdit.id}}</b> with an organization</h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="shareDeviceWithOrganization(deviceToEdit.id)" class="form-horizontal" #editForm="ngForm">


          <div class="form-group row">
            <label class="col-md-3 form-control-label">Select organizations</label>
            <div class="col-md-9">
              <angular2-multiselect name="selectOrganizations"
                                    [data]="selectOrganizations"
                                    [(ngModel)]="selectedOrganizations"
                                    [settings]="selectOrganizationsSettings">
              </angular2-multiselect>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-organization" (click)="shareDeviceWithOrganization(deviceToEdit.id)">Share</button>
        <button class="btn btn-sm btn-default" (click)="shareDeviceWithOrganizationModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
