<div class="animated fadeIn">
  <h3>Welcome {{user.username}}</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header card-default">
          My Profile
        </div>
        <div class="card-block">
          <div><b><i class="fa fa-envelope" aria-hidden="true"></i><span style="margin-right:1em"></span> Email:</b> {{user.email}}
          </div>
          <hr>
          <div class="embed-responsive"><b><i class="fa fa-user" aria-hidden="true"></i><span style="margin-right:1em"></span> Avatar:</b> {{user.avatar}}
          </div>
          <hr>
          <div><b><i class="fa fa-calendar" aria-hidden="true"></i><span style="margin-right:1em"></span> Created:</b> {{user.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}
          </div>
          <hr>
          <div><b><i class="fa fa-calendar" aria-hidden="true"></i><span style="margin-right:1em"></span> Updated:</b> {{user.updatedAt | date:"yyyy/MM/dd HH:mm:ss"}}
          </div>
          <hr>
          <div *ngIf="user.emailVerified; then verifiedEmail else unverifiedEmail"></div>
          <ng-template #verifiedEmail>
            <div style='color:green'><b><i class="fa fa-check-circle" aria-hidden="true"></i><span
              style="margin-right:1em"></span> Email verified</b></div>
          </ng-template>
          <ng-template #unverifiedEmail>
            <div style='color:red'><b><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span
              style="margin-right:1em"></span> Please verify your email</b></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <h3>Developer Access Tokens</h3>
  <hr>
  <div class="row">
    <div class="col col-12">
      <div class="btn-group" data-toggle="buttons">
        <button class="mb-1 btn btn-success" (click)="createDevAccessToken()"><i class="fa fa-plus"></i> Create new</button>
        <button class="mb-1 btn btn-danger" (click)="deleteDevAccessToken()"><i class="fa fa-ban"></i> Delete latest</button>
      </div>
    </div>
  </div>

  <h3>Routing interfaces</h3>
  <hr>
  <div class="row">
    <div class="col col-12">

      <!--<div class="card">
      <div class="card-header card-default">
      My organizations
      </div>
      <div *ngFor="let organization of user.Organizations;" class="card-block">
      <div><b><i class="fa fa-group" aria-hidden="true"></i><span style="margin-right:1em"></span> Name: </b>
      {{organization.name}}
      </div>
      <div><b><i class="fa fa-calendar" aria-hidden="true"></i><span style="margin-right:1em"></span> Creation: </b>
      {{organization.createdAt | date:"yyyy/MM/dd HH:mm:ss" }}
      </div>
      <div><b><i class="fa fa-upload" aria-hidden="true"></i><span style="margin-right:1em"></span> Callback URL: </b>
      {{callbackURLbase}}{{organization.id}}/Messages
      </div>
      <hr>
      </div>
      </div>-->


      <accordion>
        <accordion-group>
          <div accordion-heading>
            <strong class="text-success">UPLINK</strong> - Sigfox Backend Callback details
          </div>
          <div class="card-block">
            <p>Type: <strong>DATA</strong> | <strong>UPLINK</strong></p>
            <p>Url pattern: <strong>{{ callbackURL }}</strong></p>
            <p>Use HTTP Method: <strong>POST</strong></p>
            <p>Headers: <strong>Authorization</strong> : <span class="text-warning">{{devAccessToken ? devAccessToken.id : "Please create a developer access token first" }}</span></p>
            <p>Body: <code class="text-center">{{
              '{
              "deviceId": "{device}",
              "time": {time},
              "data": "{data}",
              "RSSI": {rssi},
              "seqNumber": {seqNumber},
              "baseStationId": "{station}"
              }'
              }}</code>
            </p>
            <p><u>Optional parameters:</u>
              <code>
                <div>"parserId": <small><kbd>String</kbd> The ID of the parser you wish to decode the "data" (payload) with ("Parsers" tab)</small></div>
                <div>"deviceNamePrefix": <small><kbd>String</kbd> The prefix to give for the device name</small></div>
              </code>
            </p>
          </div>
        </accordion-group>
        <accordion-group>
          <div accordion-heading>
            <strong class="text-success">BIDIR</strong> - Sigfox Backend Callback details
          </div>
          <div class="card-block">
            <p>Type: <strong>DATA</strong> | <strong>BIDIR</strong></p>
            <p>Url pattern: <strong>{{ callbackURL }}</strong></p>
            <p>Use HTTP Method: <strong>POST</strong></p>
            <p>Headers: <strong>Authorization</strong> : <span class="text-warning">{{devAccessToken ? devAccessToken.id : "Please create a developer access token first" }}</span></p>
            <p>Body: <code class="text-center">{{
              '{
              "deviceId": "{device}",
              "time": {time},
              "data": "{data}",
              "RSSI": {rssi},
              "seqNumber": {seqNumber},
              "baseStationId": "{station}",
              "ack": {ack}
              }'
              }}</code>
            </p>
            <p><u>Optional parameters:</u>
              <code>
                <div>"parserId": <small><kbd>String</kbd> The ID of the parser you wish to decode the "data" (payload) with ("Parsers" tab)</small></div>
                <div>"deviceNamePrefix": <small><kbd>String</kbd> The prefix to give for the device name</small></div>
              </code>
            </p>
          </div>
        </accordion-group>
        <accordion-group>
          <div accordion-heading>
            <strong class="text-geoloc-sigfox">GEOLOC</strong> - Sigfox Backend Callback details
          </div>
          <div class="card-block">
            <p>Type: <strong>SERVICE</strong> | <strong>GEOLOC</strong></p>
            <p>Url pattern: <strong>{{ callbackURL }}</strong></p>
            <p>Use HTTP Method: <strong>PUT</strong></p>
            <p>Headers: <strong>Authorization</strong> : <span class="text-warning
">{{devAccessToken ? devAccessToken.id : "Please create a developer access token first" }}</span></p>
            <p>Body: <code class="text-center">{{
              '{
              "deviceId": "{device}",
              "time": {time},
              "RSSI": {rssi},
              "seqNumber": {seqNumber},
              "baseStationId": "{station}",
              "geoloc": [{
              "type": "geoloc_sigfox",
              "lat": {lat},
              "lng": {lng},
              "precision": {radius}
              }]
              }'
              }}</code>
            </p>
          </div>
        </accordion-group>
      </accordion>

    </div>
  </div>
</div>
