<div class="animated fadeIn">
  <h3 *ngIf="user.username">Welcome {{user.username}}</h3>
  <h3 *ngIf="!user.username">Welcome</h3>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header card-default">
          My Profile
        </div>
        <div class="card-block">
          <div>
            <b>
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="mr-1"></span> Username:
            </b>
            <span *ngIf="user.username">{{user.username}}</span>
            <span *ngIf="!user.username" class="small text-danger"><i>Please set your username by clicking on the "Modify" button below.</i></span>
          </div>
          <hr>
          <div>
            <b>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span class="mr-1"></span> Email:
            </b> {{user.email}}
          </div>
          <hr>
          <div class="embed-responsive">
            <b>
              <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <span class="mr-1"></span> Avatar:
            </b> {{user.avatar}}
          </div>
          <hr>
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="mr-1"></span> Created:
            </b> {{user.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}
          </div>
          <hr>
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="mr-1"></span> Updated:
            </b> {{user.updatedAt | date:"yyyy/MM/dd HH:mm:ss"}}
          </div>
          <hr>
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span class="mr-1"></span> Last login:
            </b> {{user.lastLogin | date:"yyyy/MM/dd HH:mm:ss"}}
          </div>
          <hr>
          <div>
            <b>
              <i class="fa fa-key" aria-hidden="true"></i>
              <span class="mr-1"></span> Password:
            </b>
            <button class="btn btn-sm btn-success btn-round" (click)="updatePasswordModal.show()">Change password
            </button>
          </div>
          <!--<hr>
          <div *ngIf="user.emailVerified; then verifiedEmail else unverifiedEmail"></div>
          <ng-template #verifiedEmail>
            <div class="text-success">
              <b>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span class="mr-1"></span> Email verified
              </b>
            </div>
          </ng-template>
          <ng-template #unverifiedEmail>
            <div class="text-danger">
              <b>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span class="mr-1"></span> Please verify your email
              </b>
            </div>
          </ng-template>-->
        </div>
        <div class="card-footer mt-1">
          <button class="btn btn-sm btn-primary" (click)="updateUserModal.show()">Modify</button>
          <button class="btn btn-sm btn-danger" (click)="deleteUserModal.show()">Delete account</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div bsModal #updatePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="updatePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update your password</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updatePassword()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Current password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()"
                     placeholder="Your current password" name="oldPassword" [(ngModel)]="oldPassword">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">New password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()" placeholder="New password"
                     name="newPassword" [(ngModel)]="newPassword">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Retype new password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()"
                     placeholder="Retype new password" name="newPasswordConfirm" [(ngModel)]="newPasswordConfirm">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updatePasswordModal.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="updatePassword()">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #updateUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="updateUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update your profile</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateUser()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Username</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()"
                     placeholder="{{user.username ? user.username : 'How do you want us to call you?'}}"
                     name="user.username" [(ngModel)]="user.username">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()" placeholder="{{user.email}}"
                     name="user.email" [(ngModel)]="user.email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Avatar</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()" placeholder="{{user.avatar}}"
                     name="user.avatar" [(ngModel)]="user.avatar">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updateUserModal.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="updateUser()">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete your account</h4>
        <button type="button" class="close" (click)="deleteUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete your account?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteUserModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
