<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-code fa-lg text-parser"></i> <strong>Parsers</strong>
        </div>

        <div class="card-block">
          <a tooltip="Get help on the Sigfox Platform Wiki" href="https://github.com/IoT-Makers/sigfox-platform/wiki/Adding-a-custom-parser" target="_blank"><strong class="text-uppercase">Add a new parser </strong><i class="fa fa-question-circle text-parser"></i></a>
          <div class="row">
            <div class="col-sm-12 col-md-4 mt-1">
              <p><strong>NB:</strong><i> Please use the variable name</i> <code>payload</code> <i>as it will contain the Sigfox
                hexadecimal frame.</i>
              </p>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" required id="name" [(ngModel)]="parserToAdd.name" name="parser" class="form-control"
                       placeholder="Parser name">
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" required id="description" [(ngModel)]="parserToAdd.description" name="parser"
                       class="form-control" placeholder="Parser description">
              </div>

              <button type="button" class="btn btn-secondary btn-parser mb-1" (click)="create()">
                Add Parser
              </button>
            </div>
            <div class="col-md-8">
              <div ace-editor
                   [(text)]="parserToAdd.function"
                   name="parser"
                   [mode]="'javascript'"
                   style="min-height: 400px; width:100%; overflow: auto;"></div>
            </div>
          </div>

          <hr>
        </div>

        <div class="card-block" *ngFor="let parser of parsers; let i = index">
          <strong class="text-uppercase">{{parser.name}}</strong> - parserId: <span
          class="text-parser" tooltip="Click to copy" click-copy>{{parser.id}}</span>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <p>{{parser.description}}</p>
              <div class="input-group mb-1">
                <input type="text" [(ngModel)]="payload" #payloadInput id="{{parser.id}}" name="{{parser.name}}"
                       class="form-control" placeholder="Sigfox payload in hexadecimal" maxlength="24"
                       pattern="([a-fA-F0-9])$">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" (click)="decodePayload(i, parser, payload)">
                      Test
                    </button>
                </span>
              </div>

              <div [hidden]="payloadInput.value.length != 24"
                   class="text-success">
                Length is respected (maximum 12 bytes in hexadecimal)
              </div>

              <div *ngIf="testPayload[i]" class="alert alert-info box-msg" role="alert">
                <i class="pull-right fa fa-window-close" (click)="closeDecodedPayload(i)"></i>
                <strong>Decoded payload:</strong>
                <pre>{{decodedPayload[i] | json}}</pre>
              </div>

            </div>
            <div class="col-md-8">
              <div ace-editor
                   [(text)]="parser.function"
                   [mode]="'javascript'"
                   style="min-height: 400px; width:100%; overflow: auto;"></div>

              <!--Save & Delete-->
              <div class="mt-1 btn-group">
                <button type="button" class="btn btn-success" data-toggle="modal" (click)="updateBtn.disabled = false; update(parser);">
                  Save code
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="showRemoveModal(parser)">
                  Delete Parser
                </button>
              </div>
            </div>
          </div><!--/.row-->

          <hr>

        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>


<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm removal</h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this parser (name: <b>{{parserToRemove.name}}</b>) ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="remove()">Delete</button>
        <button class="btn btn-sm btn-default" (click)="confirmModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmParseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmParseModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Parse all corresponding messages</h4>
        <button type="button" class="close" (click)="confirmParseModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you like to parse all messages linked to this parser (name: <b>{{parserToEdit.name}}</b>) ?
      </div>
      <div class="modal-footer">
        <button #updateBtn class="btn btn-sm btn-primary" (click)="updateParsedData(); updateBtn.disabled = true">Parse all messages</button>
        <button class="btn btn-sm btn-default" (click)="confirmParseModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
