<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-code fa-lg text-parser"></i> <strong>Parsers</strong>
        </div>

        <div class="card-block">
          <strong class="text-uppercase">Add a new parser</strong>
          <div class="row">
            <div class="col col-6 mt-1">
              <p><strong>NB:</strong> Please use the variable name <code>payload</code> as it will contain the Sigfox hexadecimal frame.</p>
              <div class="input-group">
                <input type="text" required id="name" [(ngModel)]="newParser.name" name="parser" class="form-control" placeholder="Parser name">
                <input type="text" required id="description" [(ngModel)]="newParser.description" name="parser" class="form-control" placeholder="Parser description">
              </div>

            </div>
            <div class="col col-6">
              <div ace-editor
                   [(text)]="newParser.function"
                   name="parser"
                   [mode]="'javascript'"
                   style="min-height: 200px; width:100%; overflow: auto;"></div>
            </div>
          </div>

          <div class="row">
            <div class="col col-4">
              <button type="button" class="btn btn-parser" (click)="create()">
                Add Parser
              </button>
            </div>
          </div>

          <hr>
        </div>

        <div class="card-block" *ngFor="let parser of parsers; let i = index">
          <strong class="text-uppercase">{{parser.name}}</strong> - parserId: <span class="text-parser">{{parser.id}}</span>
          <div class="row">
            <div class="col col-4">
              <p>{{parser.description}}</p>
              <div class="input-group">
                <input type="text" [(ngModel)]="payload" #payloadInput id="{{parser.id}}" name="{{parser.name}}" class="form-control" placeholder="Sigfox payload in hexadecimal" maxlength="24" pattern="([a-fA-F0-9])$">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" (click)="decodePayload(i, parser, payload)">
                      Test
                    </button>
                </span>
              </div>

              <div [hidden]="payloadInput.value.length != 24"
                   class="text-success">
                Length is respected (maximum 12 bytes in hexadecimal)
              </div>

              <div *ngIf="testPayload[i]" class="alert alert-info box-msg" role="alert">
                <i class="pull-right fa fa-window-close" (click)="closeDecodedPayload(i)"></i>
                <strong>Decoded payload:</strong>
                <pre>{{decodedPayload[i] | json}}</pre>
              </div>

            </div>
            <div class="col col-8">
              <div ace-editor
                   [(text)]="parser.function"
                   [mode]="'javascript'"
                   style="min-height: 400px; width:100%; overflow: auto;"></div>

              <!--Save & Delete-->
              <div class="mt-1 btn-group">
                <button type="button" class="btn btn-success" data-toggle="modal" (click)="update(parser)">
                  Save code
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="showRemoveModal(parser)">
                  Delete Parser
                </button>
              </div>
            </div>
          </div><!--/.row-->

          <hr>

        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>


<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm removal</h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this parser (name: <b>{{parserToRemove.name}}</b>) ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-default" (click)="confirmModal.hide()">Cancel</button>
        <button class="btn btn-sm btn-danger" (click)="remove()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
