<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand hidden-xs-down" href="#" [routerLink]="['/']"></a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto" style="margin-right: 2%">
    <li class="nav-item">
      <a href class="nav-link" [routerLink]="['/profile']">
        <img src="{{user.avatar}}" class="img-avatar">
        <span class="d-md-down-none font-weight-bold">{{user.username || user.email}}  </span>
      </a>
      <!--<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">-->

        <!--<div class="dropdown-header text-center"><strong>Information</strong></div>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/devices']"><i class="fa fa-microchip text-warning"></i> Devices<span class="badge badge-warning">{{countDevices}}</span></a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/messages']"><i class="fa fa-envelope text-primary"></i> Messages<span class="badge badge-primary">{{countMessages}}</span></a>-->
        <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/profile']"><i class="fa fa-user text-profile"></i> Profile</a>-->
        <!--<a class="dropdown-item" href="#" (click)="onLogout()"><i class="fa fa-lock text-danger"></i> Logout</a>-->

      <!--</div>-->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" role="button" (click)="onLogout()">
        <i class="fa fa-sign-out text-primary"></i>
      </a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <!--<div class="sidebar-header">-->
      <!--<img *ngIf="!user.avatar" src="assets/img/avatars/user.jpg" class="img-avatar" alt="Avatar">-->
      <!--<img *ngIf="user.avatar" src="{{user.avatar}}" class="img-avatar" alt="Avatar">-->
      <!--<div class="text-muted"><small>Hello </small></div>-->
      <!--<div><strong>{{user.name || user.email}}</strong></div>-->
      <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
        <!--<a type="button" class="btn btn-link" routerLinkActive="active" [routerLink]="['/profile']">-->
          <!--<i class="fa fa-user text-profile"></i>-->
        <!--</a>-->
        <!--<a type="button" class="btn btn-link" (click)="onLogout()">-->
          <!--<i class="fa fa-sign-out"></i>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">
          Dashboards <!--<a class="pull-right badge badge-success" routerLinkActive="active" [routerLink]="['/new-dashboard']">Add new</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-dashboard text-white"></i> Overview </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-home"></i>Custom Dashboard</a>
        </li>

        <li class="divider"></li>

        <li class="nav-title">
          Information
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/categories']"><i class="fa fa-tag text-category"></i> Categories <span class="badge badge-category">{{countCategories}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/devices']"><i class="fa fa-thermometer-half text-device"></i> Devices <span class="badge badge-device">{{countDevices}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/messages']"><i class="fa fa-envelope text-message"></i> Messages <span class="badge badge-message">{{countMessages}}</span></a>
        </li>

        <!--<li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/demo']"><i class="fa fa-cube"></i> Cube <span class="badge badge-info"></span></a>
        </li>-->

        <li class="nav-title">
          Widgets
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/tracking']"><i class="fa fa-map-marker text-tracking"></i> Tracking <span class="badge badge-tracking"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/analytics']"><i class="fa fa-area-chart text-analytic"></i> Analytics <span class="badge badge-analytic"></span></a>
        </li>

        <!--<li class="nav-title">-->
        <!--Settings-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/profile']"><i class="fa fa-user text-profile"></i> Profile <span class="badge badge-profile"></span></a>-->
        <!--</li>-->

        <li class="nav-title">
          Developers
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/parsers']"><i class="fa fa-code text-parser"></i> Parsers <span class="badge badge-parser">{{countParsers}}</span></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/base-stations']"><i class="fa fa-podcast"></i> Base Stations <span class="badge badge-info"></span></a>
        </li>-->



      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>

</div>

<!--<footer class="app-footer">-->
<!--<a href="https://sigfoxfoundation.org">Sigfox Foundation</a> &copy; 2017.-->
<!--<span class="float-right">Author: Louis Moreau</span>-->
<!--</footer>-->
