<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header card-default">
          <p translate>profile</p>
          <div>
            <a role="button" (click)="updateUserModal.show()">
              <i class="fa fa-pencil" ></i>
            </a>
          </div>
        </div>
        <div class="card-block profile">
          <div>
            <b>
              <i class="fa fa-user mr1" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>username</span>
            </b>
            <span *ngIf="user.username">{{user.username}}</span>
            <span *ngIf="!user.username" class="small text-danger">
              <i translate>please_set_username</i>
            </span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-envelope" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>email</span>
            </b>
            <span>{{user.email}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-check-circle" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>verified</span>
            </b>
            <span [ngClass]="user.emailVerified ? 'text-success' : 'text-danger'">
              <i class="fa" [ngClass]="user.emailVerified ? 'fa-circle' : 'fa-times'"></i>
            </span>
          </div>
          <hr />
          <div class="embed-responsive">
            <b>
              <i class="fa fa-camera" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>avatar</span>
            </b>
            <img src={{user.avatar}} height=32 />
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>created</span>
            </b>
            <span>{{user.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>updated</span>
            </b>
            <span>{{user.updatedAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-calendar" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>last_login</span>
            </b>
            <span>{{user.loggedAt | date:"yyyy/MM/dd HH:mm:ss"}}</span>
          </div>
          <hr />
          <div>
            <b>
              <i class="fa fa-key" aria-hidden="true"></i><span class="mr-1"></span>
              <span translate>password</span>
            </b>
            <button class="btn btn-sm btn-success btn-round" (click)="updatePasswordModal.show()" translate>change_password</button>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <span class="small text-user">userId: {{user.id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong translate>organizations</strong>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!organizationsReady">
            Loading organizations...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="organizationsReady && !organizations.length">
            No organizations yet...
          </ng-container>

          <ng-container *ngIf="organizations.length > 0">
            <!--Table-->
            <div class="table-responsive">
              <table datatable class="table table-hover table-outline">
                <thead class="thead-inverse">
                <tr>
                  <th class="text-center">Logo</th>
                  <th class="text-center"><sv-default-sorter by="name"><i class="fa fa-sort"></i>Name</sv-default-sorter></th>
                  <th class="text-center"><sv-default-sorter by="Members.length"><i class="fa fa-sort"></i>Users</sv-default-sorter></th>
                  <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let organization of organizations; let i = index">
                  <td class="text-center">
                    <div class="small text-center">
                      <img src="{{organization.logo}}" height="50px" class="img-avatar">
                    </div>
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['/organization/', organization.id]">
                      <strong class="text-organization">{{organization.name}}</strong>
                    </a>
                  </td>
                  <td class="text-center">
                    <div class="font-weight-bold">
                      {{organization.Members.length}}
                    </div>
                  </td>

                  <td class="text-center">
                    <div class="btn-group-sm">
                      <button *ngIf="organization.userId !== user.id" class="btn btn-outline-organization btn-round" tooltip="Leave organization"
                              (click)="leaveOrganization(organization)"><i class="fa fa-sign-out fa-lg"></i></button>
                      <button *ngIf="organization.userId === user.id" class="btn btn-outline-danger btn-round" tooltip="Delete organization"
                              (click)="deleteOrganization(organization)"><i class="fa fa-trash fa-lg"></i></button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mb-1">
    <div class="col-md-12">
      <button class="btn btn-sm btn-danger" (click)="deleteUserModal.show()" translate>delete_account</button>
    </div>
  </div>
</div>


<div bsModal #updatePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="updatePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update your password</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updatePassword()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Current password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()"
                     placeholder="Your current password" name="oldPassword" [(ngModel)]="oldPassword">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">New password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()" placeholder="New password"
                     name="newPassword" [(ngModel)]="newPassword">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Retype new password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" (keyup.enter)="updatePassword()"
                     placeholder="Retype new password" name="newPasswordConfirm" [(ngModel)]="newPasswordConfirm">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updatePasswordModal.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="updatePassword()">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #updateUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="updateUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update your profile</h4>
        <button type="button" class="close" (click)="updateUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateUser()" class="form-horizontal" #editForm="ngForm">
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Username</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()"
                     placeholder="{{user.username ? user.username : 'How do you want us to call you?'}}"
                     name="user.username" [(ngModel)]="user.username">
            </div>
          </div>
          <!--<div class="form-group row">
            <label class="col-md-3 form-control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()" placeholder="{{user.email}}"
                     name="user.email" [(ngModel)]="user.email">
            </div>
          </div>-->
          <div class="form-group row">
            <label class="col-md-3 form-control-label">Avatar</label>
            <div class="col-md-9">
              <input type="text" class="form-control" (keyup.enter)="updateUser()" placeholder="{{user.avatar}}"
                     name="user.avatar" [(ngModel)]="user.avatar">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="updateUserModal.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="updateUser()">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete your account</h4>
        <button type="button" class="close" (click)="deleteUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete your account?</p>
        <p class="font-weight-bold text-danger">This action is irreversible and will permanently delete all your data
          (categories, devices, messages, connectors, ...).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteUserModal.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
