<div class="animated fadeIn">

  <div class="card-group">

    <!-- 1 -->
    <ng-container *ngIf="iFace == 1;else not1">
      <div class="card card-danger">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-mobile-phone"></i>
          </div>
          <div class="h4 mb-0">1</div>
          <small class="text-muted text-uppercase font-weight-bold">Call Me</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not1>
      <div class="card card-outline-danger">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-mobile-phone"></i>
          </div>
          <div class="h4 mb-0">1</div>
          <small class="text-muted text-uppercase font-weight-bold">Call Me</small>
        </div>
      </div>
    </ng-template>

    <!-- 2 -->
    <ng-container *ngIf="iFace == 2;else not2">
      <div class="card card-success">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-gears"></i>
          </div>
          <div class="h4 mb-0">2</div>
          <small class="text-muted text-uppercase font-weight-bold">Onboarding</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not2>
      <div class="card card-outline-success">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-gears"></i>
          </div>
          <div class="h4 mb-0">2</div>
          <small class="text-muted text-uppercase font-weight-bold">Onboarding</small>
        </div>
      </div>
    </ng-template>

    <!-- 3 -->
    <ng-container *ngIf="iFace == 3;else not3">
      <div class="card card-warning">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-moon-o"></i>
          </div>
          <div class="h4 mb-0">3</div>
          <small class="text-muted text-uppercase font-weight-bold">Snooze</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not3>
      <div class="card card-outline-warning">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-moon-o"></i>
          </div>
          <div class="h4 mb-0">3</div>
          <small class="text-muted text-uppercase font-weight-bold">Snooze</small>
        </div>
      </div>
    </ng-template>
  </div>



  <div class="card-group">
    <!-- 4 -->
    <ng-container *ngIf="iFace == 4;else not4">
      <div class="card card-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">4</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not4>
      <div class="card card-outline-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">4</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-template>

    <!-- 5 -->
    <ng-container *ngIf="iFace == 5;else not5">
      <div class="card card-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">5</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not5>
      <div class="card card-outline-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">5</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-template>

    <!-- 6 -->
    <ng-container *ngIf="iFace == 6;else not6">
      <div class="card card-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">6</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-container>
    <ng-template #not6>
      <div class="card card-outline-info">
        <div class="card-block">
          <div class="h1 text-muted text-right mb-2">
            <i class="fa fa-question-circle-o"></i>
          </div>
          <div class="h4 mb-0">6</div>
          <small class="text-muted text-uppercase font-weight-bold">X</small>
        </div>
      </div>
    </ng-template>
  </div>


  <div class="card">
    <div class="card-header">Last cube message for <strong>{{message.deviceId}}</strong></div>
    <div *ngIf="!message" class="card-block">
      No message yet...
    </div>
    <div *ngIf="message" class="card-block">

      <div *ngIf="message.parsed_data">
        <div *ngFor="let object of message.parsed_data">
          <small>{{object.key}}: {{object.value}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
