<div class="app align-items-center">
  <div class="container">
    <div class="text-center mb-1">
      <img src="logo.svg" width=160 height=40 />
    </div>
    <div class="card p-2">
      <div class="card-block">
        <hr />
        <p class="text-muted" translate>signup</p>
        <form #f="ngForm" (ngSubmit)="onRegister()">
          <div class="input-group mb-1">
            <span class="input-group-addon">@</span>
            <input [(ngModel)]="user.email" type="text" class="form-control" name="username" placeholder="{{ 'email' | translate }}">
          </div>
          <div class="input-group mb-1">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="{{ 'password' | translate }}">
          </div>

          <div class="input-group mb-2">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input [(ngModel)]="verifyPassword" type="password" class="form-control" name="verifyPassword" (ngModelChange)="verify()" placeholder="{{ 'repeat_password' | translate }}">
          </div>

          <div *ngIf="errorMessage != ''">
            <div class="mb-3 bg-danger text-center">
              {{errorMessage}}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-success px-2" [disabled]="errorMessage!= ''" translate>register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
