<div class="animated fadeIn">

  <div class="card collapse">
    <div class="card-header">
      <i class="fa fa-map-marker fa-lg text-tracking"></i> <strong>Map</strong>
    </div>
    <div class="card-block">
      <accordion>
        <accordion-group [isOpen]="true">
          <div accordion-heading>
            <strong class="text-geoloc-sigfox">Period</strong>
          </div>
          <div class="row">

            <div class="col-sm-12 col-md-6">
              <angular2-date-picker name="dateBegin"
                                    [(ngModel)]="dateBegin"
                                    (onDateSelect)="dateBegin = $event"
                                    [settings]="dateBeginSettings"
                                    required>
              </angular2-date-picker>
            </div>
            <div class="col-sm-12 col-md-6">
              <angular2-date-picker name="dateEnd"
                                    [(ngModel)]="dateEnd"
                                    (onDateSelect)="dateEnd = $event"
                                    [settings]="dateEndSettings"
                                    required>
              </angular2-date-picker>
            </div>

          </div>
        </accordion-group>

        <accordion-group>
          <div accordion-heading>
            <strong class="text-geoloc-sigfox">Routes</strong>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Directions routes:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="directionsRoutes" (click)="onDirections()"
                       (change)="directionsRoutes = !directionsRoutes" class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Polylines:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="polylines" (change)="polylines = !polylines" class="switch-input"
                       checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Mode:</label>
              <label>
                <ng-select [allowClear]="false"
                           [items]="['DRIVING', 'WALKING', 'BICYCLING', 'TRANSIT']"
                           [active]="['DRIVING']"
                           (selected)="selectedTravelMode($event)">
                </ng-select>
              </label>
            </div>
          </div>
        </accordion-group>


        <accordion-group>
          <div accordion-heading>
            <strong class="text-geoloc-sigfox">Accuracy</strong>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">GPS only:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="gpsOnly" (click)="onGpsOnly()" (change)="gpsOnly = !gpsOnly"
                       class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Sigfox only:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="sigfoxOnly" (click)="onSigfoxOnly()"
                       (change)="sigfoxOnly = !sigfoxOnly" class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Prefer GPS:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="gpsPrefer" (change)="gpsPrefer = !gpsPrefer" class="switch-input"
                       checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
        </accordion-group>

        <accordion-group>
          <div accordion-heading>
            <strong class="text-geoloc-sigfox">Display</strong>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <label class="mr-1">Accuracy circles:</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" [checked]="circleAccuracy" (change)="circleAccuracy = !circleAccuracy"
                       class="switch-input" checked="">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
            <div class="col-sm-12 col-md-8">
              <label class="mr-1">Interval of markers to show:</label>
              <label>
                <input type="number" value="0" class="form-control" [(ngModel)]="markerInterval">
              </label>
            </div>
          </div>
        </accordion-group>
      </accordion>

      <div class="row mt-1">
        <div class="col-sm-12 col-md-8">
          <ng-select #devicesSelect
                     [placeholder]="'Select a device'"
                     [allowClear]="false"
                     [items]="devicesList"
                     (selected)="deviceSelected($event)">
          </ng-select>
        </div>
        <div *ngIf="!mobile" class="col-md-4">
          <button type="button" class="btn btn-success" data-toggle="modal" (click)="onTrack()">
            Track device
          </button>
        </div>
        <div *ngIf="mobile" class="col-sm-12 mt-1 text-center">
          <button type="button" class="btn btn-success" data-toggle="modal" (click)="onTrack()">
            Track device
          </button>
        </div>
      </div>


    </div> <!--card-block-->

    <!-- <input [ngModel]="dateBegin | date:'yyyy-MM-dd'" (ngModelChange)="dateBegin = $event" type="date" name="dateBegin"/>
     <input [ngModel]="dateEnd | date:'yyyy-MM-dd'" (ngModelChange)="dateEnd = $event" type="date" name="dateEnd"/>-->

    <div class="card-block">
      <blockquote *ngIf="searchResult != ''" class="blockquote">{{searchResult}}</blockquote>
    </div> <!--card-block-->
    <iframe tabindex="-1"
            style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
    <agm-map
      [latitude]="mapPosition.lat"
      [longitude]="mapPosition.lng"
      [zoom]="mapZoom"
      [mapTypeControl]="true"
      [fullscreenControl]="true"
      [styles]="mapStyle">



      <ng-container *ngFor="let device of devices; let i = index">
        <ng-container *ngIf="true">
          <!-- Polylines -->
          <agm-polyline *ngIf="polylines"
                        [zIndex]="2"
                        [geodesic]="true"
                        [strokeColor]="device.color"
                        [strokeOpacity]="0.5">
            <ng-container *ngFor="let message of device.Messages">
              <ng-container *ngFor="let geoloc of message.Geolocs">
                <agm-polyline-point [latitude]="geoloc.location.lat" [longitude]="geoloc.location.lng">
                </agm-polyline-point>
              </ng-container>
            </ng-container>
          </agm-polyline>
          <!-- End Polylines -->

          <!-- Markers -->
          <ng-container *ngFor="let geoloc of device.Geolocs; let i = index">
            <ng-container [ngSwitch]=i>
              <!-- Start Point -->
              <ng-container *ngSwitchCase="0">
                <ng-container *ngIf="geoloc.type === 'sigfox'">
                  <agm-marker
                    (mouseOut)="markerOut(i)"
                    (mouseOver)="markerOver(i)"
                    [zIndex]="4"
                    [latitude]="geoloc.location.lat"
                    [longitude]="geoloc.location.lng"
                    [iconUrl]="'assets/img/markers/marker-start.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                      <br>
                      <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                      <br>
                      <strong><b>Position:</b> n°{{i}} <span class="text-success">START</span></strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="circleAccuracy || isCircleVisible[0]" [visible]="isCircleVisible[0]"
                              [zIndex]="1"
                              [strokePosition]="CENTER"
                              [strokeWeight]="1"
                              [strokeColor]="'#8d5dd1'"
                              [fillOpacity]="0.1"
                              [fillColor]="'#8d5dd1'"
                              [latitude]="geoloc.location.lat"
                              [longitude]="geoloc.location.lng"
                              [radius]="geoloc.accuracy">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <ng-container *ngIf="geoloc.type === 'gps'">
                  <agm-marker
                    (mouseOut)="markerOut(i)"
                    (mouseOver)="markerOver(i)"
                    [zIndex]="4"
                    [latitude]="geoloc.location.lat"
                    [longitude]="geoloc.location.lng"
                    [iconUrl]="'assets/img/markers/marker-start.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                      <br>
                      <strong><b>Position:</b> n°{{i}} <span class="text-success">START</span></strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
              <!-- End Start Point -->
              <!-- Finish Point -->
              <ng-container *ngSwitchCase="device.Geolocs.length - 1">
                <ng-container *ngIf="geoloc.type === 'sigfox'">
                  <agm-marker
                    (mouseOut)="markerOut(i)"
                    (mouseOver)="markerOver(i)"
                    [zIndex]="4"
                    [latitude]="geoloc.location.lat"
                    [longitude]="geoloc.location.lng"
                    [iconUrl]="'assets/img/markers/marker-finish.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                      <br>
                      <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                      <br>
                      <strong><b>Position:</b> n°{{i}} <span class="text-danger">FINISH</span></strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="circleAccuracy || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                              [zIndex]="1"
                              [strokePosition]="CENTER"
                              [strokeWeight]="1"
                              [strokeColor]="'#8d5dd1'"
                              [fillOpacity]="0.1"
                              [fillColor]="'#8d5dd1'"
                              [latitude]="geoloc.location.lat"
                              [longitude]="geoloc.location.lng"
                              [radius]="geoloc.accuracy">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <ng-container *ngIf="geoloc.type === 'gps'">
                  <agm-marker
                    (mouseOut)="markerOut(i)"
                    (mouseOver)="markerOver(i)"
                    [zIndex]="4"
                    [latitude]="geoloc.location.lat"
                    [longitude]="geoloc.location.lng"
                    [iconUrl]="'assets/img/markers/marker-finish.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                      <br>
                      <strong><b>Position:</b> n°{{i}} <span class="text-danger">FINISH</span></strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
              <!-- End Finish Point -->
              <!-- Default -->
              <ng-container *ngSwitchDefault>
                <agm-marker-cluster *ngIf="clustering" [styles]="clusterStyles">
                  <!-- Sigfox -->
                  <ng-container *ngIf="geoloc.type === 'sigfox'">
                    <agm-marker
                      (mouseOut)="markerOut(i)"
                      (mouseOver)="markerOver(i)"
                      [zIndex]="3"
                      [latitude]="geoloc.location.lat"
                      [longitude]="geoloc.location.lng"
                      [iconUrl]="'assets/img/markers/marker-sigfox.png'">
                      <agm-info-window>
                        <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                        <br>
                        <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                        <br>
                        <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                        <br>
                        <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                        <br>
                        <strong><b>Position: </b> n°{{i}}</strong>
                      </agm-info-window>
                    </agm-marker>

                    <!-- Circle -->
                    <agm-circle *ngIf="circleAccuracy || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                [zIndex]="1"
                                [strokePosition]="CENTER"
                                [strokeWeight]="1"
                                [strokeColor]="'#8d5dd1'"
                                [fillOpacity]="0.1"
                                [fillColor]="'#8d5dd1'"
                                [latitude]="geoloc.location.lat"
                                [longitude]="geoloc.location.lng"
                                [radius]="geoloc.accuracy">
                    </agm-circle>
                    <!-- End Circle -->
                  </ng-container>
                  <!-- Geoloc GPS -->
                  <ng-container *ngIf="geoloc.type === 'gps'">
                    <agm-marker
                      (mouseOut)="markerOut(i)"
                      (mouseOver)="markerOver(i)"
                      [zIndex]="3"
                      [latitude]="geoloc.location.lat"
                      [longitude]="geoloc.location.lng"
                      [iconUrl]="'assets/img/markers/marker-gps.png'">
                      <agm-info-window>
                        <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                        <br>
                        <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                        <br>
                        <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                        <br>
                        <strong><b>Position: </b> n°{{i}}</strong>
                      </agm-info-window>
                    </agm-marker>
                  </ng-container>
                </agm-marker-cluster>
                <ng-container *ngIf="!clustering">
                  <!-- Sigfox -->
                  <ng-container *ngIf="geoloc.type === 'sigfox'">
                    <agm-marker
                      (mouseOut)="markerOut(i)"
                      (mouseOver)="markerOver(i)"
                      [zIndex]="3"
                      [latitude]="geoloc.location.lat"
                      [longitude]="geoloc.location.lng"
                      [iconUrl]="'assets/img/markers/marker-sigfox.png'">
                      <agm-info-window>
                        <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                        <br>
                        <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                        <br>
                        <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                        <br>
                        <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                        <br>
                        <strong><b>Position: </b> n°{{i}}</strong>
                      </agm-info-window>
                    </agm-marker>

                    <!-- Circle -->
                    <agm-circle *ngIf="circleAccuracy || isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                [zIndex]="1"
                                [strokePosition]="CENTER"
                                [strokeWeight]="1"
                                [strokeColor]="'#8d5dd1'"
                                [fillOpacity]="0.1"
                                [fillColor]="'#8d5dd1'"
                                [latitude]="geoloc.location.lat"
                                [longitude]="geoloc.location.lng"
                                [radius]="geoloc.accuracy">
                    </agm-circle>
                    <!-- End Circle -->
                  </ng-container>
                  <!-- Geoloc GPS -->
                  <ng-container *ngIf="geoloc.type === 'gps'">
                    <agm-marker
                      (mouseOut)="markerOut(i)"
                      (mouseOver)="markerOver(i)"
                      [zIndex]="3"
                      [latitude]="geoloc.location.lat"
                      [longitude]="geoloc.location.lng"
                      [iconUrl]="'assets/img/markers/marker-gps.png'">
                      <agm-info-window>
                        <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                        <br>
                        <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                        <br>
                        <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                        <br>
                        <strong><b>Position: </b> n°{{i}}</strong>
                      </agm-info-window>
                    </agm-marker>
                  </ng-container>
                </ng-container>
                <!-- End Default -->
              </ng-container>
            </ng-container>
          </ng-container>
          <!-- End Markers -->

          <!-- Directions -->
          <agm-directions *ngIf="directionsRoutes"
                          [directionsDisplayStore]="device.directionsDisplayStore"
                          [travelMode]="travelMode"
                          [routesColor]="'#d71223'"
                          [geolocs]="device.Geolocs">
          </agm-directions>
          <!-- End Directions -->
        </ng-container>
      </ng-container>
    </agm-map>

  </div>

</div>
