<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <i class="fa fa-map-marker fa-lg text-tracking"></i> <strong>Map</strong>
    </div>
    <div class="card-block">
      <strong>Filters</strong>

      <hr>

      <div class="row">
        <div class="col col-4">
          Start date & time:
          <owl-date-time [(ngModel)]="dateBegin"></owl-date-time>
        </div>
        <div class="col col-4">
          End date & time:
          <owl-date-time [(ngModel)]="dateEnd"></owl-date-time>
        </div>
        <div class="col col-4">
          Interval of markers to show:
          <input type="number" value="1" class="form-control" [(ngModel)]="markerInterval">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col col-2">
          Precision circles:
        </div>
        <div class="col col-2">
          <label class="switch switch-text switch-primary">
            <input type="checkbox" [checked]="circlePrecision" (change)="circlePrecision = !circlePrecision" class="switch-input" checked="">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="col col-2">
          Directions routes:
        </div>
        <div class="col col-2">
          <label class="switch switch-text switch-primary">
            <input type="checkbox" [checked]="directionsRoutes" (click)="onDirections()" (change)="directionsRoutes = !directionsRoutes" class="switch-input" checked="">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col col-4">
          <input type="text" required class="form-control" placeholder="Enter device ID" #box (keyup.enter)="onTrack(box.value)" [required]="true">
        </div>
        <div class="col col-4">
          <button type="button" class="btn btn-success" data-toggle="modal" (click)="onTrack(box.value)">
            Track device
          </button>
        </div>
      </div>


    </div>
    <div class="card-block">
      <!-- <input [ngModel]="dateBegin | date:'yyyy-MM-dd'" (ngModelChange)="dateBegin = $event" type="date" name="dateBegin"/>
       <input [ngModel]="dateEnd | date:'yyyy-MM-dd'" (ngModelChange)="dateEnd = $event" type="date" name="dateEnd"/>-->

      <p>{{searchResult}}</p>

      <agm-map
        [latitude]="initMapPosition.lat"
        [longitude]="initMapPosition.lng"
        [zoom]="7"
        [mapTypeControl]=true
        [fullscreenControl]="true">

        <!-- Polylines -->
        <!--<agm-polyline
          [zIndex]="2"
          [geodesic] = true
          [strokeOpacity] = 0.5>
          <ng-container *ngFor="let marker of allLocalizedMessages; let i = index">
            <agm-polyline-point
              *ngIf="marker.geoloc_sigfox"
              [latitude]="marker.geoloc_sigfox.lat"
              [longitude]="marker.geoloc_sigfox.lng">
            </agm-polyline-point>
            <agm-polyline-point
              *ngIf="marker.GPS"
              [latitude]="marker.GPS.lat"
              [longitude]="marker.GPS.lng">
            </agm-polyline-point>
          </ng-container>
        </agm-polyline>-->
        <!-- End Polylines -->



        <!-- Markers -->
        <ng-container *ngFor="let marker of allLocalizedMessages; let i = index">

          <ng-container [ngSwitch]=i>
            <!-- Start Point -->
            <ng-container *ngSwitchCase="0">
              <ng-container *ngFor="let geoloc of marker.geoloc">
                <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                  <agm-marker
                    [zIndex]="4"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-start.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> n°{{i}} - START</strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="circlePrecision"
                    [zIndex]="1"
                    [strokePosition]="CENTER"
                    [strokeWeight]="1"
                    [strokeColor]="'#8d5dd1'"
                    [fillOpacity]="0.1"
                    [fillColor]="'#8d5dd1'"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [radius]="geoloc.precision">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <ng-container *ngIf="geoloc.type == 'GPS'">
                  <agm-marker
                    [zIndex]="4"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-start.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> n°{{i}} - START</strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- End Start Point -->

            <!-- Finish Point -->
            <ng-container *ngSwitchCase="allLocalizedMessages.length - 1">
              <ng-container *ngFor="let geoloc of marker.geoloc">
                <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                  <agm-marker
                    [zIndex]="4"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-finish.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> FINISH</strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="circlePrecision"
                    [zIndex]="1"
                    [strokePosition]="CENTER"
                    [strokeWeight]="1"
                    [strokeColor]="'#8d5dd1'"
                    [fillOpacity]="0.1"
                    [fillColor]="'#8d5dd1'"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [radius]="geoloc.precision">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <ng-container *ngIf="geoloc.type == 'GPS'">
                  <agm-marker
                    [zIndex]="4"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-finish.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> n°{{i}} - FINISH</strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- End Finish Point -->

            <!-- Default -->
            <ng-container *ngSwitchDefault>
              <ng-container *ngFor="let geoloc of marker.geoloc">
                <!-- Geoloc Sigfox -->
                <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                  <agm-marker
                    [zIndex]="3"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-sigfox.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> n°{{i}} - FINISH</strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="circlePrecision"
                    [zIndex]="1"
                    [strokePosition]="CENTER"
                    [strokeWeight]="1"
                    [strokeColor]="'#8d5dd1'"
                    [fillOpacity]="0.1"
                    [fillColor]="'#8d5dd1'"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [radius]="geoloc.precision">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <!-- Geoloc GPS -->
                <ng-container *ngIf="geoloc.type == 'GPS'">
                  <agm-marker
                    [zIndex]="3"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-gps.png'">
                    <agm-info-window>
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                      <br>
                      <strong><b>Position: </b> n°{{i}}</strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- End Default -->



          </ng-container>
        </ng-container>

        <ng-container *ngIf="allLocalizedMessages.length > 0 && directionsRoutes">
          <agm-directions></agm-directions>
        </ng-container>
        <!--<agm-directions [origin]="{lat: 42, lng: 2}" [destination]="{lat: 43, lng: 2}" [waypoints]=""></agm-directions>-->
      </agm-map>


    </div>
  </div>

</div>
