<div class="animated fadeIn">

  <div class="row">

    <div [ngClass]="(edit)?'col-md-6 col-xs-12':'col-md-12 col-sm-12'">
      <button class="mb-1 btn btn-success" (click)="editCategory()"><i class="fa fa-plus-circle"></i> Add a new category
      </button>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag fa-lg text-category"></i> <strong>Categories</strong>
        </div>

        <div class="card-block">
          <ng-container *ngIf="!categories.length">
            No categories yet...
          </ng-container>
          <ng-container *ngIf="categories.length > 0">

            <!--Table-->
            <table class="table d-lg-table table-hover table-outline table-responsive">
              <thead class="thead-inverse">
              <tr>
                <th class="text-center">Name</th>
                <th *ngIf="!edit" class="text-center">Description</th>
                <th class="text-center">Properties</th>
                <th class="text-center">Associated devices</th>
                <th *ngIf="!edit" class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <td class="text-center">
                  <strong class="text-category">{{category.name}}</strong>
                  <div class="small text-muted">Updated:
                    {{category.updatedAt | amTimeAgo}}
                  </div>
                  <div class="small text-category" tooltip="Click to copy" click-copy>
                    {{category.id}}
                  </div>
                </td>
                <td class="text-center" *ngIf="!edit">
                  <p>{{category.description}}</p>
                </td>
                <td>
                  <div *ngIf="!category.properties" class="small text-muted">No properties yet</div>
                  <div *ngIf="category.properties">
                    <div class="text-muted" *ngFor="let property of category.properties; let i = index"><span>{{property.key ? property.key : ""}}</span>{{property.type
                      ? ": "+ property.type : ""}}
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngIf="!category.Devices" class="small text-muted">No devices yet</div>
                  <div *ngIf="category.Devices">
                    <div class="small text-center" *ngFor="let device of category.Devices; let i = index"><strong>{{device.id}}</strong>
                    </div>
                  </div>
                </td>
                <td *ngIf="!edit" class="text-center">
                  <div class="btn-group-sm">
                    <button class="btn btn-outline-primary btn-round" tooltip="Edit category"
                            (click)="editCategory(category)"><i class="fa fa-pencil fa-lg"></i></button>
                    <button class="btn btn-outline-danger btn-round" tooltip="Delete category"
                            (click)="showRemoveModal(category)"><i class="fa fa-trash fa-lg"></i></button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="edit" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>New Category</strong>
        </div>
        <div class="card-block">
          <form class="form-horizontal" #editForm="ngForm">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Device name" name="categoryToEdit.name"
                       [(ngModel)]="categoryToEdit.name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Description</label>
              <div class="col-md-9">
                  <textarea type="text" class="form-control" placeholder="Device name" name="categoryToEdit.description"
                            [(ngModel)]="categoryToEdit.description">
                  </textarea>
              </div>
            </div>
            <div class="form-group row">
              <strong class="col-md-3 form-control-label">Properties</strong>
            </div>
            <div *ngIf="categoryToEdit.properties">
              <div *ngFor="let property of categoryToEdit.properties; let i = index">

                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Property name"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="property.key">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Type</label>
                  <div class="col-md-9">
                    <select [ngModelOptions]="{standalone: true}" class="form-control" size="1"
                            [(ngModel)]="property.type">
                      <option [ngValue]="type" *ngFor="let type of propertyType">{{type}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 form-control-label">Default</label>
                  <div class="col-md-9">
                    <input type="{{property.type}}" class="form-control" placeholder="Default value"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="property.value">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <button class="btn btn-sm btn-danger" (click)="removeProperty(categoryToEdit, i)"> Remove property
                    </button>
                  </div>
                </div>
                <hr>

              </div>
            </div>
            <button class="pull-right btn btn-sm btn-outline-success" (click)="addProperty(categoryToEdit)"><i
              class="fa fa-plus-circle"></i> Add property
            </button>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" [disabled]="!editForm.form.valid" (click)="update(categoryToEdit)"><i
            class="fa fa-check"></i> Update
          </button>
          <button class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
    </div>

  </div>
  <!--/.row-->

</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm removal of <b>{{categoryToRemove.name}}</b></h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this category?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="remove()">Delete</button>
        <button class="btn btn-sm btn-default" (click)="confirmModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
