<div class="app align-items-center">
  <div class="container">
    <div class="text-center mb-1">
      <img src="logo.svg" width=160 height=40 />
    </div>
    <div class="card p-2">
      <div class="card-block">
        <hr />
        <p class="text-muted" translate>input_account</p>
        <form #f="ngForm" (ngSubmit)="onLogin()">
          <div class="input-group mb-1">
            <span class="input-group-addon"><i class="icon-user"></i></span>
            <input [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="{{ 'email' | translate }}" required>
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input [(ngModel)]="user.password" type="password" class="form-control" name="password" placeholder="{{ 'password' | translate }}" required>
          </div>
          <div *ngIf="errorMessage != ''">
            <div class="mb-3 bg-danger text-center">
              {{errorMessage}}
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary px-2" translate>login</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-link px-0" [routerLink]="['/reset-password']" translate>forgot_password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
