<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form *ngIf="!access_token" #f="ngForm" (ngSubmit)="onSendResetEmail()" class="card mx-2">
          <div class="card-block p-2">
            <h1>Reset password</h1>
            <p class="text-muted">An email will be sent to you for resetting your password</p>

            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input [(ngModel)]="email" type="text" class="form-control" name="email" placeholder="Email">
            </div>

            <div *ngIf="errorMessage != ''">
              <div class="mb-3 bg-danger text-center">
                {{errorMessage}}
              </div>
            </div>
            <div *ngIf="successMessage != ''">
              <div class="mb-3 bg-info text-center">
                {{successMessage}}
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-success" [disabled]="errorMessage!= ''">send email
            </button>
          </div>
        </form>


        <form *ngIf="access_token" #f="ngForm" (ngSubmit)="onResetPassword()" class="card mx-2">
          <div class="card-block p-2">
            <h1>Reset password</h1>
            <p class="text-muted">Reset your password</p>

            <div class="input-group mb-1">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="newPassword" type="password" class="form-control" name="password"
                     placeholder="Password">
            </div>

            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="verifyPassword" type="password" class="form-control" name="verifyPassword"
                     (ngModelChange)="verify()" placeholder="Repeat password">
            </div>

            <div *ngIf="errorMessage != ''">
              <div class="mb-3 bg-danger text-center">
                {{errorMessage}}
              </div>
            </div>
            <div *ngIf="successMessage != ''">
              <div class="mb-3 bg-info text-center">
                {{successMessage}}
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-success" [disabled]="errorMessage!= ''">Reset password
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
