<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="card">
        <div class="card-header">
          <strong>Devices data</strong>
        </div>
        <div class="card-block">
          <div class="row">

            <div class="col col-12 pull-right">
              <button type="button" class="btn btn-primary float-right"><i class="fa fa-download"></i></button>
            </div><!--/.col-->
          </div><!--/.row-->
          <div class="row">

            <div class="col-sm-12 col-md-6">
              <span>End date & time:</span>
              <owl-date-time [(ngModel)]="dateBegin"></owl-date-time>
            </div>
            <div class="col-sm-12 col-md-6">
              <span>End date & time:</span>
              <owl-date-time [(ngModel)]="dateEnd"></owl-date-time>
            </div>

          </div>
          <div class="row mt-1">
            <div class="col-sm-12 col-md-8">
              <ng-select #devicesSelect
                         [placeholder]="'Select a device'"
                         [allowClear]="false"
                         [items]="devices"
                         (selected)="deviceSelected($event)">
              </ng-select>
            </div>
            <div class="col-sm-12 col-md-4">
              <button class="btn btn-success" (click)="getDeviceGraph()"><i class="fa fa-search"></i> Search</button>
              <!--<button *ngIf="deviceChartData.length > 0" class="btn btn-info" (click)="download()"><i class="fa fa-download"></i> Download</button>-->
            </div>
          </div>

          <div class="chart-wrapper">
            <canvas *ngIf="deviceChartData.length > 0"
                    baseChart
                    [datasets]="deviceChartData"
                    [labels]="deviceChartLabels"
                    [options]="deviceChartOptions"
                    [colors]="deviceChartColors"
                    [legend]="true"
                    [chartType]="'line'"></canvas>
          </div>
        </div>
      </div>
      <!--/.card-->


      <div class="card">
        <div class="card-header">
          <strong>Count messages</strong>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!messageChartData.length">
            No messages yet...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="messageChartData.length > 0">
            <div class="row">
              <!--<div class="col-sm-5">-->
              <!--<h4 class="card-title mb-0">Count Messages</h4>-->
              <!--&lt;!&ndash;<div class="small text-muted">November 2015</div>&ndash;&gt;-->
              <!--</div>&lt;!&ndash;/.col&ndash;&gt;-->
              <div class="col col-12 pull-right">
                <button type="button" class="btn btn-primary float-right"><i class="fa fa-download"></i></button>
                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group">
                    <button class="btn btn-outline-secondary" (click)="getMessagesGraph('hourly')">Hour</button>
                    <button class="btn btn-outline-secondary" (click)="getMessagesGraph('daily')">Day</button>
                    <button class="btn btn-outline-secondary" (click)="getMessagesGraph('weekly')">Week</button>
                    <button class="btn btn-outline-secondary" (click)="getMessagesGraph('monthly')">Month</button>
                    <button class="btn btn-outline-secondary" (click)="getMessagesGraph('yearly')">Year</button>
                  </div>
                </div>
              </div><!--/.col-->
            </div><!--/.row-->
            <hr>
            <div class="col-12">
              <div class="chart-wrapper" style="width: 100%; height: 100%;">
                <canvas *ngIf="messageChartData.length > 0"
                        baseChart
                        [datasets]="messageChartData"
                        [labels]="messageChartLabels"
                        [options]="messageChartOptions"
                        [colors]="messageChartColors"
                        [legend]="true"
                        [chartType]="'bar'"></canvas>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!--/.card-->

    </div>
  </div>
  <!--/.row-->




</div>
