// Here you can add other styles
.navbar {

  .form-inline {
    i {
      color: $navbar-color;
    }
    .form-control {
      min-width: 220px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }
  }
}

$sidebar-header-height: 200px;

.sidebar {
  .sidebar-header {
    height: $sidebar-header-height;
    padding-bottom: 10px;
    text-align: center;
    background: $sidebar-header-bg;

    .img-avatar {
      width: 80px;
      margin: 20px auto 10px;
      border-radius: 20em;
    }

    .text-muted {
      margin-top: -5px;
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      .badge {
        top: -8px;
      }

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
  .sidebar-header + .sidebar-nav {
    height: calc(100vh - #{$navbar-height} - #{$sidebar-header-height}) !important;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar-compact {
    .sidebar {
      .sidebar-header {
        height: 20px;
        padding: 0;

        .img-avatar {
          width: $sidebar-compact-width - 10px;
          margin: 5px auto;
        }
        div {
          display: none;
        }
      }
    }
  }
}

agm-map {
  width: 100%;
  height: calc(100vh - 283px);
}

.btn-round {
  border-radius: 17px;
}

/***************************************
*                                      *
*            Custom Colors             *
*                                      *
****************************************/

.text-category {
  color: $category !important; }
a.text-category:focus, a.text-category:hover {
  color: darken($category, 20%) !important; }
.badge-category {
  background-color: $category; }
.badge-category[href]:focus, .badge-category[href]:hover {
  background-color: darken($category, 20%); }
.bg-category {
  color: #fff !important;
  background-color: $category !important; }
a.bg-category:focus, a.bg-category:hover {
  background-color: darken($category, 20%); }

.text-device {
  color: $device !important; }
a.text-device:focus, a.text-device:hover {
  color: darken($device, 20%) !important; }
.badge-device {
  background-color: $device; }
.badge-device[href]:focus, .badge-device[href]:hover {
  background-color: darken($device, 20%); }
.bg-device {
  color: #fff !important;
  background-color: $device !important; }
a.bg-device:focus, a.bg-device:hover {
  background-color: darken($device, 20%); }

.text-message {
  color: $message !important; }
a.text-message:focus, a.text-device:hover {
  color: darken($message, 20%) !important; }
.badge-message {
  background-color: $message; }
.badge-message[href]:focus, .badge-message[href]:hover {
  background-color: darken($message, 20%); }
.bg-message {
  color: #fff !important;
  background-color: $message !important; }
a.bg-message:focus, a.bg-message:hover {
  background-color: darken($message, 20%); }

.text-alert {
  color: $alert !important;
}

a.text-alert:focus, a.text-device:hover {
  color: darken($alert, 20%) !important;
}

.badge-alert {
  background-color: $alert;
}

.badge-alert[href]:focus, .badge-alert[href]:hover {
  background-color: darken($alert, 20%);
}

.bg-alert {
  color: #fff !important;
  background-color: $alert !important;
}

a.bg-alert:focus, a.bg-alert:hover {
  background-color: darken($alert, 20%);
}

.text-tracking {
  color: $tracking !important; }
a.text-tracking:focus, a.text-tracking:hover {
  color: darken($tracking, 20%) !important; }
.badge-tracking {
  background-color: $tracking; }
.badge-tracking[href]:focus, .badge-tracking[href]:hover {
  background-color: darken($tracking, 20%); }

.text-analytic {
  color: $analytic !important; }
a.text-analytic:focus, a.text-analytic:hover {
  color: darken($analytic, 20%) !important; }
.badge-analytic {
  background-color: $analytic; }
.badge-analytic[href]:focus, .badge-analytic[href]:hover {
  background-color: darken($analytic, 20%); }

.text-parser {
  color: $parser !important; }
a.text-parser:focus, a.text-parser:hover {
  color: darken($parser, 20%) !important; }
.badge-parser {
  background-color: $parser; }
.badge-parser[href]:focus, .badge-parser[href]:hover {
  background-color: darken($parser, 20%); }
.bg-parser {
  color: #fff !important;
  background-color: $parser !important; }
a.bg-parser:focus, a.bg-parser:hover {
  background-color: darken($parser, 20%); }
btn-parser {
  color: #fff;
  background-color: $parser;
  border-color: $parser; }
.btn-parser:hover {
  color: #fff;
  background-color: darken($parser, 20%);
  border-color: darken($parser, 20%); }
.btn-parser:focus, .btn-parser.focus {
  box-shadow: 0 0 0 2px rgba(145, 87, 73, 0.5); }
.btn-parser:active, .btn-parser.active,
.show > .btn-parser.dropdown-toggle {
  color: #fff;
  background-color: $parser;
  background-image: none;
  border-color: $parser; }

.text-connector {
  color: $connector !important;
}

a.text-connector:focus, a.text-device:hover {
  color: darken($connector, 20%) !important;
}

.badge-connector {
  background-color: $connector;
}

.badge-connector[href]:focus, .badge-connector[href]:hover {
  background-color: darken($connector, 20%);
}

.bg-connector {
  color: #fff !important;
  background-color: $connector !important;
}

a.bg-connector:focus, a.bg-connector:hover {
  background-color: darken($connector, 20%);
}

.text-profile {
  color: $profile !important; }
a.text-profile:focus, a.text-profile:hover {
  color: darken($profile, 20%) !important; }
.badge-profile {
  background-color: $profile; }
.badge-profile[href]:focus, .badge-profile[href]:hover {
  background-color: darken($profile, 20%); }



// Geoloc Markers
.text-geoloc-sigfox {
  color: $geoloc-sigfox !important; }
a.text-geoloc-sigfox:focus, a.text-geoloc-sigfox:hover {
  color: darken($geoloc-sigfox, 20%) !important; }
.badge-geoloc-sigfox {
  background-color: $geoloc-sigfox; }
.badge-geoloc-sigfox[href]:focus, .badge-geoloc-sigfox[href]:hover {
  background-color: darken($geoloc-sigfox, 20%); }

.text-geoloc-gps {
  color: $geoloc-gps !important; }
a.text-geoloc-gps:focus, a.text-geoloc-gps:hover {
  color: darken($geoloc-gps, 20%) !important; }
.badge-geoloc-gps {
  background-color: $geoloc-gps; }
.badge-geoloc-gps[href]:focus, .badge-geoloc-gps[href]:hover {
  background-color: darken($geoloc-gps, 20%); }

.text-geoloc-ble {
  color: $geoloc-ble !important; }
a.text-geoloc-ble:focus, a.text-geoloc-ble:hover {
  color: darken($geoloc-ble, 20%) !important; }
.badge-geoloc-ble {
  background-color: $geoloc-ble; }
.badge-geoloc-ble[href]:focus, .badge-geoloc-ble[href]:hover {
  background-color: darken($geoloc-ble, 20%); }



// Select
.select-category {
  color: #ccc;
}
.select-category .c-token{
  background: $category !important;
}
.select-category .pure-checkbox label::before {
  border-color: $category !important;
}
.select-category .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: $category !important;
}

.select-device {
  color: #ccc;
}
.select-device .c-token{
  background: $device !important;
}
.select-device .pure-checkbox label::before {
  border-color: $device !important;
}
.select-device .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: $device !important;
}

.select-one-device {
  color: #ccc;
}

.select-one-device .c-token {
  background: $device !important;
}

.select-one-device .pure-checkbox label::before {
  border-radius: 100% !important;
  border-color: $device !important;
}

.select-one-device .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: $device !important;
}

.select-connector {
  color: #ccc;
}

.select-connector .c-token {
  background: $connector !important;
}

.select-connector .pure-checkbox label::before {
  border-color: $connector !important;
}

.select-connector .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
  background: $connector !important;
}


.select-one {
}
.select-one .c-token{
}
.select-one .pure-checkbox label::before {
  border-radius: 100% !important;
}
.select-one .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
}

@each $variant, $color in (category: $category, device: $device, message: $message, alert: $alert, parser: $parser, connector: $connector) {
  //normal style
  .switch-#{$variant} {
    @include switch-variant($color);
  }
  //outline style
  .switch-#{$variant}-outline {
    @include switch-outline-variant($color);
  }
  //outline alternative style
  .switch-#{$variant}-outline-alt {
    @include switch-outline-alt-variant($color);
  }
}
