// Here you can add other styles
.navbar {

  .form-inline {
    i {
      color: $navbar-color;
    }
    .form-control {
      min-width: 220px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }
  }
}

$sidebar-header-height: 200px;

.sidebar {
  .sidebar-header {
    height: $sidebar-header-height;
    padding-bottom: 10px;
    text-align: center;
    background: $sidebar-header-bg;

    .img-avatar {
      width: 80px;
      margin: 20px auto 10px;
      border-radius: 20em;
    }

    .text-muted {
      margin-top: -5px;
    }

    > .btn-group {
      margin-top: 10px;
    }

    .btn-link {
      color: $text-muted;

      .badge {
        top: -8px;
      }

      &:hover {
        color: $sidebar-color;
        text-decoration: none;
      }
    }
  }
  .sidebar-header + .sidebar-nav {
    height: calc(100vh - #{$navbar-height} - #{$sidebar-header-height}) !important;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar-compact {
    .sidebar {
      .sidebar-header {
        height: 20px;
        padding: 0;

        .img-avatar {
          width: $sidebar-compact-width - 10px;
          margin: 5px auto;
        }
        div {
          display: none;
        }
      }
    }
  }
}

agm-map {
  width: 100%;
  height: calc(100vh - 283px);
}

.btn-round {
  border-radius: 17px;
}

.text-profile {
  color: $profile !important; }
a.text-profile:focus, a.text-profile:hover {
  color: darken($profile, 20%) !important; }
.badge-profile {
  background-color: $profile; }
.badge-profile[href]:focus, .badge-profile[href]:hover {
  background-color: darken($profile, 20%); }

.text-tracking {
  color: $tracking !important; }
a.text-tracking:focus, a.text-tracking:hover {
  color: darken($tracking, 20%) !important; }
.badge-tracking {
  background-color: $tracking; }
.badge-tracking[href]:focus, .badge-tracking[href]:hover {
  background-color: darken($tracking, 20%); }

.text-geoloc-sigfox {
  color: $geoloc-sigfox !important; }
a.text-geoloc-sigfox:focus, a.text-geoloc-sigfox:hover {
  color: darken($geoloc-sigfox, 20%) !important; }
.badge-geoloc-sigfox {
  background-color: $geoloc-sigfox; }
.badge-geoloc-sigfox[href]:focus, .badge-geoloc-sigfox[href]:hover {
  background-color: darken($geoloc-sigfox, 20%); }

.text-geoloc-gps {
  color: $geoloc-gps !important; }
a.text-geoloc-gps:focus, a.text-geoloc-gps:hover {
  color: darken($geoloc-gps, 20%) !important; }
.badge-geoloc-gps {
  background-color: $geoloc-gps; }
.badge-geoloc-gps[href]:focus, .badge-geoloc-gps[href]:hover {
  background-color: darken($geoloc-gps, 20%); }

.text-geoloc-ble {
  color: $geoloc-ble !important; }
a.text-geoloc-ble:focus, a.text-geoloc-ble:hover {
  color: darken($geoloc-ble, 20%) !important; }
.badge-geoloc-ble {
  background-color: $geoloc-ble; }
.badge-geoloc-ble[href]:focus, .badge-geoloc-ble[href]:hover {
  background-color: darken($geoloc-ble, 20%); }


