<div class="animated fadeIn">

  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <div class="h1 text-category text-right mb-2">
          <i class="fa fa-tag"></i>
        </div>
        <div class="h4 mb-0">{{countCategories}}</div>
        <small class="text-category text-uppercase font-weight-bold">Categories</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-category" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-device text-right mb-2">
          <i class="fa fa-thermometer-half"></i>
        </div>
        <div class="h4 mb-0">{{countDevices}}</div>
        <small class="text-device text-uppercase font-weight-bold">Devices</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-device" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-message text-right mb-2">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="h4 mb-0">{{countMessages}}</div>
        <small class="text-message text-uppercase font-weight-bold">Messages</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-message" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <div class="h1 text-parser text-right mb-2">
          <i class="fa fa-code"></i>
        </div>
        <div class="h4 mb-0">{{countParsers}}</div>
        <small class="text-parser text-uppercase font-weight-bold">Parsers</small>
        <div class="progress progress-xs mt-1 mb-0">
          <div class="progress-bar bg-parser" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="row dragdrop" [dragula]='"section-bag"'>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header drag">
          <i class="fa fa-map-marker fa-lg text-tracking"></i> <strong>Map</strong>
        </div>
        <div *ngIf="!devices.length" class="card-block">
          No device yet...
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
        </div>
        <div *ngIf="devices.length>0" class="card-block">
          <agm-map [latitude]="lat"
                   [longitude]="lng"
                   [zoom]="zoom"
                   [fullscreenControl]="true">
            <ng-container *ngFor="let device of devices; let i = index">
              <ng-container *ngFor="let geoloc of device.location">
                <!-- Geoloc Sigfox -->
                <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                  <agm-marker
                    (mouseOut)="markerOut(i)"
                    (mouseOver)="markerOver(i)"
                    [zIndex]="3"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="device.name.startsWith('Sensit') ? 'assets/img/sensit.png' : 'assets/img/marker-sigfox.png'">
                    <agm-info-window>
                      <strong><b>ID:</b> <span class="text-danger">{{device.id}}</span></strong>
                      <br>
                      <strong *ngIf="device.name"><b>Name:</b> {{device.name}}</strong>
                      <br *ngIf="device.name">
                      <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    </agm-info-window>
                  </agm-marker>
                  <!-- Circle -->
                  <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                              [zIndex]="1"
                              [strokePosition]="CENTER"
                              [strokeWeight]="1"
                              [strokeColor]="'#8d5dd1'"
                              [fillOpacity]="0.1"
                              [fillColor]="'#8d5dd1'"
                              [latitude]="geoloc.lat"
                              [longitude]="geoloc.lng"
                              [radius]="geoloc.precision">
                  </agm-circle>
                  <!-- End Circle -->
                </ng-container>
                <!-- Geoloc GPS -->
                <ng-container *ngIf="geoloc.type == 'GPS'">
                  <agm-marker
                    [zIndex]="3"
                    [latitude]="geoloc.lat"
                    [longitude]="geoloc.lng"
                    [iconUrl]="'assets/img/marker-gps.png'">
                    <agm-info-window>
                      <strong><b>ID:</b> <span class="text-danger">{{device.id}}</span></strong>
                      <br>
                      <strong *ngIf="device.name"><b>Name:</b> {{device.name}}</strong>
                      <br *ngIf="device.name">
                      <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                      <br>
                      <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                      <br>
                      <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                    </agm-info-window>
                  </agm-marker>
                </ng-container>
              </ng-container>
            </ng-container>

          </agm-map>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header drag">
          <i class="fa fa-thermometer fa-lg text-device"></i> <strong>Devices</strong>
        </div>
        <div *ngIf="!devices.length" class="card-block">
          No device yet...
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
        </div>
        <div *ngIf="devices.length>0" class="card-block">

          <!--Table-->
          <table class="table table-hover table-outline">
            <thead class="thead-inverse">
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Geoloc</th>
              <th class="text-center hidden-xs-down">Last Update</th>
              <th class="text-center hidden-xs-down">Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of devices; let i = index">
              <td class="text-center">
                <strong class="text-device">{{device.id}}</strong>
                <div class="small">
                  <span class="text-gray-dark">Category: </span>
                  <span class="text-category">{{device.Category ? device.Category.name : "None"}}</span>
                </div>
              </td>

              <td class="text-center">
                <div *ngIf="device.location">
                  <div *ngFor="let geoloc of device.location">

                    <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                      <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc.lat,geoloc.lng)" class="small text-geoloc-sigfox">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <br>
                        <strong>Sigfox Geoloc</strong>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="geoloc.type == 'GPS'">
                      <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc.lat,geoloc.lng)" class="small text-geoloc-gps">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <br>
                        <strong>GPS</strong>
                      </a>
                    </ng-container>
                  </div>

                </div>

              </td>

              <td class="text-center hidden-xs-down">
                <div class="small text-muted">Last message:</div>
                <strong>{{device.updatedAt | amTimeAgo}}</strong>
              </td>
              <td class="text-center hidden-xs-down">
                <div *ngIf="!device.categoryId" class="small text-muted">No properties yet</div>
                <div *ngIf="device.categoryId">
                  <div class="small text-gray-dark" *ngFor="let property of device.properties; let i = index">
                    <span class="font-weight-bold">{{property.key ? property.key : ""}}: </span>
                    <span class="text-primary">{{property.value ? property.value : ""}}</span>
                  </div>
                </div>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header drag">
      <i class="fa fa-globe fa-lg"></i> <strong> Messages overview</strong>
    </div>
    <div *ngIf="!messages.length" class="card-block">
      No message yet...
      <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>
    </div>
    <div *ngIf="messages.length>0" class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped table-responsive" [mfData]="messages | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead class="thead-inverse">
        <tr>
          <th class="text-center" style="width: 10%">
            <mfDefaultSorter by="createdAt">Date</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 20%">
            <mfDefaultSorter by="data">Data</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 10%">
            <mfDefaultSorter by="deviceId">Device</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 20%">
            <mfDefaultSorter by="geoloc">Geoloc</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 10%">
            <mfDefaultSorter by="seqNumber">Seq Number</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 10%">
            <mfDefaultSorter by="RSSI">RSSI</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 10%">
            <mfDefaultSorter by="baseStationId">Base Station</mfDefaultSorter>
          </th>
          <th class="text-center" style="width: 10%">
            Options
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td class="text-center">{{item.createdAt | date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td class="text-center">
            <span class="text-primary">{{item.data}}</span>
            <div class="text-justify" *ngIf="item.parsed_data">
              <div *ngFor="let object of item.parsed_data">
                <small>{{object.key}}: <strong>{{object.value}} {{object.unit}}</strong></small>
              </div>
            </div>
          </td>
          <td class="text-center">{{item.deviceId}}</td>
          <td class="text-center">
            <div *ngIf="item.geoloc">
              <div *ngFor="let geoloc of item.geoloc">
                <div class="row">
                  <div class="col col-12">
                    <ng-container *ngIf="geoloc.type == 'geoloc_sigfox'">
                        <span class="small text-geoloc-sigfox">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>Sigfox Network</strong>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="geoloc.type == 'GPS'">
                        <span class="small text-geoloc-gps">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>GPS</strong>
                        </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">{{item.seqNumber}}</td>
          <td class="text-center">
            <ng-container *ngFor="let reception of item.reception">
              {{reception.RSSI}}
            </ng-container>
          </td>
          <td class="text-center">
            <ng-container *ngFor="let reception of item.reception">
              {{reception.id}}
            </ng-container>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-danger btn-round" (click)="remove(item)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!--<div class="card-columns cols-2">-->
  <!--<div class="card">-->
  <!--<div class="card-header">-->
  <!--Line Chart-->
  <!--<div class="card-actions">-->
  <!--<a href="http://www.chartjs.org">-->
  <!--<small class="text-muted">docs</small>-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="card-block">-->
  <!--<div class="chart-wrapper">-->
  <!--<canvas baseChart class="chart"-->
  <!--[datasets]="lineChartData"-->
  <!--[labels]="lineChartLabels"-->
  <!--[options]="lineChartOptions"-->
  <!--[colors]="lineChartColours"-->
  <!--[legend]="lineChartLegend"-->
  <!--[chartType]="lineChartType"-->
  <!--(chartHover)="chartHovered($event)"-->
  <!--(chartClick)="chartClicked($event)"></canvas>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>
