<div class="animated fadeIn">

  <alert *ngIf="user && !user.username" type="info" dismissOnTimeout="5000" [dismissible]="true">
    <h4 class="alert-heading">Hey! <i class="fa fa-smile-o"></i></h4>
    <p>Don't forget you can set your username by clicking on your email on the top right corner.</p>
  </alert>

  <alert *ngIf="!organization" type="warning" [dismissible]="true">
    <p><i class="fa fa-warning"></i> Please keep in mind this platform is under active development.</p>
    <!--<p><li>Please <a (click)="upgrade();" href>upgrade</a> your application.</li></p>-->
  </alert>

  <!--<alert *ngIf="!organization" type="danger" [dismissible]="true">
    <ul>
      <li>Organizations have evolved! Please be gentle with organization functions as it can break the platform at any moment...</li>
    </ul>
  </alert>-->

  <div class="card-group">
    <div class="card" [routerLink]="[!organization ? '/categories' : '/organization/' + organization.id + '/categories']">
      <div class="card-block">
        <div class="h1 text-category text-right mb-2">
          <i class="fa fa-tag"></i>
        </div>
        <ng-container *ngIf="!countCategoriesReady">
          <div class="sk-spinner sk-spinner-pulse"></div>
        </ng-container>
        <ng-container *ngIf="countCategoriesReady">
          <div class="h4 mb-0">{{countCategories}}</div>
          <small class="text-category text-uppercase font-weight-bold">Categories</small>
          <div class="progress progress-xs mt-1 mb-0">
            <div class="progress-bar bg-category" role="progressbar" style="width: 100%" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="card" [routerLink]="[!organization ? '/devices' : '/organization/' + organization.id + '/devices']">
      <div class="card-block">
        <div class="h1 text-device text-right mb-2">
          <i class="fa fa-microchip"></i>
        </div>
        <ng-container *ngIf="!countDevicesReady">
          <div class="sk-spinner sk-spinner-pulse"></div>
        </ng-container>
        <ng-container *ngIf="countDevicesReady">
          <div class="h4 mb-0">{{countDevices}}</div>
          <small class="text-device text-uppercase font-weight-bold">Devices</small>
          <div class="progress progress-xs mt-1 mb-0">
            <div class="progress-bar bg-device" role="progressbar" style="width: 100%" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="card" [routerLink]="[!organization ? '/messages' : '/organization/' + organization.id + '/messages']">
      <div class="card-block">
        <div class="h1 text-message text-right mb-2">
          <i class="fa fa-envelope"></i>
        </div>
        <ng-container *ngIf="!countMessagesReady">
          <div class="sk-spinner sk-spinner-pulse"></div>
        </ng-container>
        <ng-container *ngIf="countMessagesReady">
          <div class="h4 mb-0">{{countMessages}}</div>
          <small class="text-message text-uppercase font-weight-bold">Messages</small>
          <div class="progress progress-xs mt-1 mb-0">
            <div class="progress-bar bg-message" role="progressbar" style="width: 100%" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="!organization" class="card" [routerLink]="['/alerts']">
      <div class="card-block">
        <div class="h1 text-alert text-right mb-2">
          <i class="fa fa-bell"></i>
        </div>
        <ng-container *ngIf="!countAlertsReady">
          <div class="sk-spinner sk-spinner-pulse"></div>
        </ng-container>
        <ng-container *ngIf="countAlertsReady">
          <div class="h4 mb-0">{{countAlerts}}</div>
          <small class="text-alert text-uppercase font-weight-bold">Active alerts</small>
          <div class="progress progress-xs mt-1 mb-0">
            <div class="progress-bar bg-alert" role="progressbar" style="width: 100%" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="organization" class="card">
      <div class="card-block">
        <div class="h1 text-organization text-right mb-2">
          <i class="fa fa-users"></i>
        </div>
        <ng-container *ngIf="!countOrganizationMembersReady">
          <div class="sk-spinner sk-spinner-pulse"></div>
        </ng-container>
        <ng-container *ngIf="countOrganizationMembersReady">
          <div class="h4 mb-0">{{countOrganizationMembers}}</div>
          <small class="text-organization text-uppercase font-weight-bold">Members</small>
          <div class="progress progress-xs mt-1 mb-0">
            <div class="progress-bar bg-organization" role="progressbar" style="width: 100%" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!see" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker fa-lg text-tracking"></i><strong> Map </strong><small>(10 latest)</small>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!devicesReady">
            Loading devices...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="devicesReady && !devices.length">
            No devices yet...
          </ng-container>

          <ng-container *ngIf="devices.length > 0">
            <agm-map (mapReady)="onMapReady($event)"
                     [latitude]="mapLat"
                     [longitude]="mapLng"
                     [zoom]="mapZoom"
                     [fullscreenControl]="true">
              <ng-container *ngFor="let device of devices; let i = index">
                <ng-container *ngIf="device.Messages[0] && device.Messages[0].Geolocs">
                  <ng-container *ngFor="let geoloc of device.Messages[0].Geolocs">
                    <!-- Sigfox -->
                    <ng-container *ngIf="geoloc.type === 'sigfox'">
                      <agm-marker
                        (mouseOut)="markerOut(i)"
                        (mouseOver)="markerOver(i)"
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-sigfox.png'">
                        <agm-info-window id="{{geoloc.id}}">
                          <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type: </b><span class="text-geoloc-sigfox">Sigfox</span></strong>
                          <br>
                          <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                          <br>
                          <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                  [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#8d5dd1'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#8d5dd1'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                    <!-- Geoloc GPS -->
                    <ng-container *ngIf="geoloc.type === 'gps'">
                      <agm-marker
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-gps.png'">
                        <agm-info-window id="{{geoloc.id}}">
                          <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type: </b><span class="text-geoloc-gps">GPS</span></strong>
                          <br>
                          <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                        </agm-info-window>
                      </agm-marker>
                    </ng-container>
                    <!-- Geoloc Beacon -->
                    <ng-container *ngIf="geoloc.type === 'beacon'">
                      <agm-marker
                        (mouseOut)="markerOut(i)"
                        (mouseOver)="markerOver(i)"
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-beacon.png'">
                        <agm-info-window id="{{geoloc.id}}">
                          <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type: </b><span class="text-geoloc-beacon">Beacon</span></strong>
                          <br>
                          <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                          <br>
                          <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                  [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#3c58ce'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#3c58ce'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                    <!-- Geoloc WiFi -->
                    <ng-container *ngIf="geoloc.type === 'wifi'">
                      <agm-marker
                        (mouseOut)="markerOut(i)"
                        (mouseOver)="markerOver(i)"
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-wifi.png'">
                        <agm-info-window id="{{geoloc.id}}">
                          <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type: </b><span class="text-geoloc-wifi">WiFi</span></strong>
                          <br>
                          <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                          <br>
                          <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                  [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#000000'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#000000'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>

            </agm-map>

          </ng-container>
        </div>
      </div>
    </div> <!-- !see -->

    <div *ngIf="see" class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-eye fa-lg"></i> <strong>See device</strong>
          <button class="mt-0 btn btn-outline-secondary pull-right" (click)="cancelSee()"><i
            class="fa fa-close text-danger"></i></button>
        </div>
        <div class="card-block">

          <div *ngIf="message" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-clock-o fa-lg"></i> <strong> Latest message</strong>
              </div>
              <div class="card-block mx-auto text-center">
                <p class="lead">{{message.createdAt | date:"yyyy/MM/dd - HH:mm:ss"}}</p>
                <div class="text-justify" *ngIf="message.data_parsed">
                  <div *ngFor="let o of message.data_parsed">
                    <small *ngIf="o.value || o.value === 0">{{o.key}}: <strong>{{o.value}} {{o.unit}}</strong></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="humidity && humidity.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-tint fa-lg"></i> <strong> Humidity</strong>
              </div>
              <div class="card-block mx-auto">
                <ngx-gauge #gauge
                           [type]="'arch'"
                           [size]="200"
                           [cap]="'round'"
                           [thick]="15"
                           [value]="humidity.value"
                           [label]="'Humidity'"
                           [append]="humidity.unit"
                           [thresholds]="thresholdHumidity">
                </ngx-gauge>
              </div>
            </div>
          </div>

          <div *ngIf="temperature && temperature.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-thermometer fa-lg"></i> <strong> Temperature</strong>
              </div>
              <div class="card-block mx-auto">
                <ngx-gauge #gauge
                           [type]="'arch'"
                           [size]="200"
                           [cap]="'round'"
                           [min]="-50"
                           [max]="50"
                           [thick]="15"
                           [value]="temperature.value"
                           [label]="'Temperature'"
                           [append]="temperature.unit"
                           [thresholds]="thresholdTemperature">
                </ngx-gauge>
              </div>
            </div>
          </div>

          <div *ngIf="speed && speed.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-road fa-lg"></i> <strong> Speed</strong>
              </div>
              <div class="card-block mx-auto">
                <ngx-gauge #gauge
                           [type]="'arch'"
                           [size]="200"
                           [cap]="'round'"
                           [min]="0"
                           [max]="150"
                           [thick]="15"
                           [value]="speed.value"
                           [label]="'Speed'"
                           [append]="speed.unit"
                           [thresholds]="thresholdSpeed">
                </ngx-gauge>
              </div>
            </div>
          </div>

          <div *ngIf="battery && (battery.value !== null) " class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-battery-three-quarters fa-lg"></i> <strong> Battery</strong>
              </div>
              <div class="card-block mx-auto">
                <div *ngIf="battery.unit === '%'" id="battery">
                  <div class="bottom"></div>
                  <ng-container *ngIf="mobile">
                    <div class="middle" [style.width]="'125px'">
                    <span class="glass" [style.width]="'125px'">
                      <h4 class="font-weight-bold mt-2 text-center">{{battery.value}} %</h4>
                    </span>
                      <div *ngIf="battery.value > 50" class="fill-green" [style.width]="battery.value + '%'"></div>
                      <div *ngIf="battery.value <= 50 && battery.value > 25" class="fill-orange" [style.width]="battery.value + '%'"></div>
                      <div *ngIf="battery.value <= 25" class="fill-red" [style.width]="battery.value + '%'"></div>
                    </div>
                    <div class="top-b"></div>
                    <div class="top-a"></div>
                  </ng-container>
                  <ng-container *ngIf="!mobile">
                    <div class="middle">
                    <span class="glass">
                      <h4 class="font-weight-bold mt-2 text-center">{{battery.value}} %</h4>
                    </span>
                      <div *ngIf="battery.value > 50" class="fill-green" [style.width]="battery.value + '%'"></div>
                      <div *ngIf="battery.value <= 50 && battery.value > 25" class="fill-orange" [style.width]="battery.value + '%'"></div>
                      <div *ngIf="battery.value <= 25" class="fill-red" [style.width]="battery.value + '%'"></div>
                    </div>
                    <div class="top-b"></div>
                    <div class="top-a"></div>
                  </ng-container>
                </div>
                <!--<div id="reflection">
                  <div class="fade-battery"></div>
                  <div class="bottom"></div>
                  <div class="middle">
                    <span class="glass"></span>
                    <div class="fill"></div>
                  </div>
                  <div class="top-b"></div>
                  <div class="top-a"></div>
                </div>-->

                <!--<ngx-gauge #gauge
                           *ngIf="battery.unit === '%'"
                           [type]="'arch'"
                           [size]="200"
                           [cap]="'round'"
                           [thick]="15"
                           [value]="battery.value"
                           [label]="'Battery'"
                           [append]="battery.unit"
                           [thresholds]="thresholdBattery">
                </ngx-gauge>-->
                <h1 *ngIf="battery.unit != '%'">{{battery.value}} <span class="small">{{battery.unit}}</span></h1>
              </div>
            </div>
          </div>

          <div *ngIf="altitude && altitude.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-cloud fa-lg"></i> <strong> Altitude</strong>
              </div>
              <div class="card-block mx-auto">
                <h1>{{altitude.value}} <span class="small">{{altitude.unit}}</span></h1>
              </div>
            </div>
          </div>

          <div *ngIf="pressure && pressure.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-sun-o fa-lg"></i> <strong> Pressure</strong>
              </div>
              <div class="card-block mx-auto">
                <h1>{{pressure.value}} <span class="small">{{pressure.unit}}</span></h1>
              </div>
            </div>
          </div>

          <div *ngIf="light && light.value" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-lightbulb-o fa-lg"></i> <strong> Lux</strong>
              </div>
              <div class="card-block mx-auto">
                <h1>{{light.value}} <span class="small">{{light.unit}}</span></h1>
              </div>
            </div>
          </div>

          <div *ngIf="message && message.Geolocs && message.Geolocs.length > 0" class="col-sm-12 col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-map-marker fa-lg"></i> <strong> Location</strong>
              </div>
              <div class="card-block">
                <agm-map [latitude]="message.Geolocs[0].location.lat"
                         [longitude]="message.Geolocs[0].location.lng"
                         [zoom]="10"
                         [zoomControl]="false"
                         [streetViewControl]="false"
                         [mapTypeControl]="false"
                         [fullscreenControl]="false">
                  <ng-container *ngFor="let geoloc of message.Geolocs">
                    <!-- Sigfox -->
                    <ng-container *ngIf="geoloc.type === 'sigfox'">
                      <agm-marker
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-sigfox.png'">
                        <agm-info-window>
                          <strong><b>Type:</b> <span class="text-geoloc-sigfox">Sigfox</span></strong>
                          <br>
                          <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                          <br>
                          <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                          <br>
                          <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#8d5dd1'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#8d5dd1'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                    <!-- Geoloc GPS -->
                    <ng-container *ngIf="geoloc.type === 'gps'">
                      <agm-marker
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-gps.png'">
                        <agm-info-window>
                          <strong><b>Type:</b> <span class="text-geoloc-gps">GPS</span></strong>
                          <br>
                          <strong><b>Date:</b> {{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time:</b> {{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                        </agm-info-window>
                      </agm-marker>
                    </ng-container>
                    <!-- Beacon -->
                    <ng-container *ngIf="geoloc.type === 'beacon'">
                      <agm-marker
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-beacon.png'">
                        <agm-info-window>
                          <strong><b>Type:</b> <span class="text-geoloc-beacon">Beacon</span></strong>
                          <br>
                          <strong><b>Date:</b> {{geoloc.createdAt | date: 'dd/MM/yyyy'}}</strong>
                          <br>
                          <strong><b>Time:</b> {{geoloc.createdAt | date: 'HH:mm:ss'}}</strong>
                          <br>
                          <strong><b>Accuracy:</b> {{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#3c58ce'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#3c58ce'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                    <!-- Geoloc WiFi -->
                    <ng-container *ngIf="geoloc.type === 'wifi'">
                      <agm-marker
                        (mouseOut)="markerOut(i)"
                        (mouseOver)="markerOver(i)"
                        [zIndex]="3"
                        [latitude]="geoloc.location.lat"
                        [longitude]="geoloc.location.lng"
                        [iconUrl]="'assets/img/markers/marker-wifi.png'">
                        <agm-info-window id="{{geoloc.id}}">
                          <strong><b>ID: </b><span class="text-device">{{device.id}}</span></strong>
                          <br>
                          <strong *ngIf="device.name"><b>Name: </b>{{device.name}}</strong>
                          <br *ngIf="device.name">
                          <strong><b>Type: </b><span class="text-geoloc-wifi">WiFi</span></strong>
                          <br>
                          <strong><b>Date: </b>{{geoloc.createdAt | date:"dd/MM/yyyy"}}</strong>
                          <br>
                          <strong><b>Time: </b>{{geoloc.createdAt | date:"HH:mm:ss"}}</strong>
                          <br>
                          <strong><b>Accuracy: </b>{{geoloc.accuracy}} m</strong>
                        </agm-info-window>
                      </agm-marker>
                      <!-- Circle -->
                      <agm-circle *ngIf="isCircleVisible[i]" [visible]="isCircleVisible[i]"
                                  [zIndex]="1"
                                  [strokePosition]="CENTER"
                                  [strokeWeight]="1"
                                  [strokeColor]="'#000000'"
                                  [fillOpacity]="0.1"
                                  [fillColor]="'#000000'"
                                  [latitude]="geoloc.location.lat"
                                  [longitude]="geoloc.location.lng"
                                  [radius]="geoloc.accuracy">
                      </agm-circle>
                      <!-- End Circle -->
                    </ng-container>
                  </ng-container>
                </agm-map>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- see -->

    <!-- Device table -->
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-microchip fa-lg text-device"></i><strong> Devices </strong><small>(10 latest)</small>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!devicesReady">
            Loading devices...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="devicesReady && !devices.length">
            No devices yet...
          </ng-container>

          <!--Table-->
          <div *ngIf="devices.length > 0" class="table-responsive">
            <table class="table table-hover table-outline">
              <thead class="thead-inverse">
              <tr>
                <th class="text-center">See</th>
                <th class="text-center">Info</th>
                <th class="text-center">Geoloc</th>
                <th class="text-center">Last message</th>
                <th class="text-center">Properties</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let device of devices; let i = index">
                <td class="text-center">
                  <button class="btn btn-sm btn-outline-primary btn-round" tooltip="See device latest message"
                          (click)="seeDevice(device)"><i class="fa fa-eye fa-lg"></i></button>
                </td>
                <td class="text-center">
                  <div class="col-md-12">
                    <a [routerLink]="[!organization ? '/messages' : '/organization/' + organization.id + '/messages', device.id]"><strong class="text-device">{{device.id}}</strong></a>
                    <div class="small" *ngIf="device.name">
                      <span class="text-gray-dark">Name: </span>
                      <span class="text-device">{{device.name ? device.name : "None"}}</span>
                    </div>
                    <div class="small" *ngIf="device.Category">
                      <span class="text-gray-dark">Category: </span>
                      <span class="text-category">{{device.Category ? device.Category.name : "None"}}</span>
                    </div>
                    <ng-container class="text-left">
                      <ng-container *ngFor="let p of device.Messages[0].data_parsed">
                        <!-- Battery -->
                        <ng-container *ngIf="p.key === 'battery' && (p.value != null) && (p.unit === '%')">
                          <div>
                            <ng-container *ngIf="p.value >= 70">
                              <span class="text-success"><i class="fa fa-battery-three-quarters"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 70 && p.value >= 40">
                              <span class="text-info"><i class="fa fa-battery-half"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 40 && p.value >= 20">
                              <span class="text-warning"><i class="fa fa-battery-quarter"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 20">
                              <span class="text-alert"><i class="fa fa-battery-empty"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                          </div>
                        </ng-container>

                        <!-- Temperature -->
                        <ng-container *ngIf="p.key === 'temperature' && (p.value != null)">
                          <div>
                            <span class="text-gray-dark"><i class="fa fa-thermometer"></i> {{p.value}} {{p.unit}}</span>
                            <!--<ng-container *ngIf="p.value >= 30">
                              <span class="text-alert"><i class="fa fa-thermometer-full"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 30 && p.value >= 23">
                              <span class="text-warning"><i class="fa fa-thermometer-three-quarters"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 23 && p.value >= 17">
                              <span class="text-success"><i class="fa fa-thermometer-half"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 17">
                              <span class="text-info"><i class="fa fa-thermometer-quarter"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>-->
                          </div>
                        </ng-container>

                        <!-- Humidity -->
                        <ng-container *ngIf="p.key === 'humidity' && (p.value != null)">
                          <div>
                            <span class="text-gray-dark"><i class="fa fa-cloud"></i> {{p.value}} {{p.unit}}</span>
                            <!--<ng-container *ngIf="p.value >= 70">
                              <span class="text-info"><i class="fa fa-cloud"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 70 && p.value >= 40">
                              <span class="text-success"><i class="fa fa-cloud"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 40 && p.value >= 20">
                              <span class="text-warning"><i class="fa fa-cloud"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>
                            <ng-container *ngIf="p.value < 20">
                              <span class="text-alert"><i class="fa fa-cloud"></i> {{p.value}} {{p.unit}}</span>
                            </ng-container>-->
                          </div>
                        </ng-container>

                        <!-- Alert -->
                        <ng-container *ngIf="p.key === 'alert' && p.value">
                          <div>
                            <span class="text-gray-dark"><i class="fa fa-bell"></i> {{p.value}}</span>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
                <td class="text-center">
                  <div *ngIf="device.Messages[0] && device.Messages[0].Geolocs">
                    <div *ngFor="let geoloc of device.Messages[0].Geolocs">

                      <ng-container *ngIf="geoloc.type === 'sigfox'">
                        <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)"
                           class="small text-geoloc-sigfox">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>Sigfox</strong>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="geoloc.type === 'gps'">
                        <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)"
                           class="small text-geoloc-gps">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>GPS</strong>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="geoloc.type === 'beacon'">
                        <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)"
                           class="small text-geoloc-beacon">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>Beacon</strong>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="geoloc.type == 'wifi'">
                        <a href="javascript:void(0)" (click)="zoomOnDevice(geoloc)"
                           class="small text-geoloc-wifi">
                          <i class="fa fa-map-marker fa-2x"></i>
                          <br>
                          <strong>WiFi</strong>
                        </a>
                      </ng-container>
                    </div>

                  </div>

                </td>
                <td class="text-center">
                  <strong>{{device.Messages[0] ? (device.Messages[0].createdAt | amTimeAgo) : 'No messages yet'}}</strong>
                </td>
                <td>
                  <div *ngIf="!device.properties" class="small text-muted text-center">No properties</div>
                  <div *ngIf="device.properties && device.properties.length === 0" class="small text-muted text-center">No properties yet</div>
                  <div *ngIf="device.properties && device.properties.length > 0">
                    <div class="small text-gray-dark" *ngFor="let property of device.properties; let i = index">
                      <span class="font-weight-bold">{{property.key ? property.key : ""}}: </span>
                      <span class="text-primary">{{property.value ? property.value : ""}}</span>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- row -->


  <div class="card" *ngIf="!organization">
    <div class="card-header">
      <strong>Received messages</strong>
    </div>
    <div class="card-block">
      <ng-container *ngIf="!messagesReady">
        Loading messages...
        <div class="sk-double-bounce">
          <div class="sk-child sk-double-bounce1"></div>
          <div class="sk-child sk-double-bounce2"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="messagesReady && hasNoMessageChartData">
        No messages yet...
      </ng-container>

      <ng-container *ngIf="messagesReady && !hasNoMessageChartData">
        <div class="row">
          <div *ngIf="mobile" class="col-md-12">
            <div class="btn-group btn-group-sm" data-toggle="buttons" aria-label="Filter graph">
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_hourly}" (click)="getMessagesGraph('hourly')">Hour</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_daily}" (click)="getMessagesGraph('daily')">Day</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_weekly}" (click)="getMessagesGraph('weekly')">Week</button>
            </div>
            <div class="btn-group btn-group-sm" data-toggle="buttons" aria-label="Filter graph">
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_monthly}" (click)="getMessagesGraph('monthly')">Month</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_yearly}" (click)="getMessagesGraph('yearly')">Year</button>
            </div>
            <button type="button" class="btn btn-sm btn-primary pull-right"><i class="fa fa-download"></i></button>
          </div>
          <div *ngIf="!mobile" class="col-md-12">
            <div class="btn-group pull-left" data-toggle="buttons" aria-label="Filter graph">
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_hourly}" (click)="getMessagesGraph('hourly')">Hour</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_daily}" (click)="getMessagesGraph('daily')">Day</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_weekly}" (click)="getMessagesGraph('weekly')">Week</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_monthly}" (click)="getMessagesGraph('monthly')">Month</button>
              <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_yearly}" (click)="getMessagesGraph('yearly')">Year</button>
            </div>
            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-download"></i></button>
          </div><!--/.col-->
        </div><!--/.row-->
        <div class="row">
          <div *ngIf="mobile" class="col-md-12" style="min-height: 200px;">
            <iframe class="chartjs-hidden-iframe" tabindex="-1"
                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
            <canvas *ngIf="messageChartData.length > 0"
                    baseChart
                    [datasets]="messageChartData"
                    [labels]="messageChartLabels"
                    [options]="messageChartOptions"
                    [colors]="messageChartColors"
                    [legend]="true"
                    [chartType]="'bar'"></canvas>
          </div>
          <div *ngIf="!mobile" class="col-md-12" style="min-height: 400px;">
            <iframe class="chartjs-hidden-iframe" tabindex="-1"
                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
            <canvas *ngIf="messageChartData.length > 0"
                    baseChart
                    [datasets]="messageChartData"
                    [labels]="messageChartLabels"
                    [options]="messageChartOptions"
                    [colors]="messageChartColors"
                    [legend]="true"
                    [chartType]="'bar'"></canvas>
          </div>
        </div>

        <!--<div class="chart-wrapper" style="width: 100%; height: 100%;">
          <canvas *ngIf="messageChartData.length > 0"
                  baseChart
                  [datasets]="messageChartData"
                  [labels]="messageChartLabels"
                  [options]="messageChartOptions"
                  [colors]="messageChartColors"
                  [legend]="true"
                  [chartType]="'bar'"></canvas>
        </div>-->
      </ng-container>
    </div>
  </div>
  <!--/.card-->

</div>
