#map {
  height: 500px;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.device{
  color: #4728c9;
  border: #1f2028;
  border-radius: 2px;
}

#tag {
  height: 500px;
  width: 100%;
  color: #0e6498;
}
