<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ng-select
        #devicesSelect
        [placeholder]="'Select a device'"
        [allowClear]="false"
        [items]="devices"
        (selected)="deviceSelected($event)">
      </ng-select>
      <div class="card mt-1">
        <div class="card-header">
          <strong>Device data</strong>
        </div>
        <div class="card-block">
          <div class="row">

            <div class="col-sm-12 col-md-6">
              <angular2-date-picker name="dateBegin"
                                    [(ngModel)]="dateBegin"
                                    (onDateSelect)="dateBegin = $event"
                                    [settings]="dateBeginSettings"
                                    required>
              </angular2-date-picker>
            </div>
            <div class="col-sm-12 col-md-6">
              <angular2-date-picker name="dateEnd"
                                    [(ngModel)]="dateEnd"
                                    (onDateSelect)="dateEnd = $event"
                                    [settings]="dateEndSettings"
                                    required>
              </angular2-date-picker>
            </div>

          </div>
          <div class="row mt-1">
            <div class="col-12">
              <button *ngIf="selectedDevice.id" class="btn btn-success" (click)="showGraphs()"><i class="fa fa-search"></i> Search</button>
              <button *ngIf="!selectedDevice.id" class="btn btn-success disabled" tooltip="Select a device first"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->

      <div *ngIf="deviceChartData.length > 0" class="card">
        <div class="card-header">
          <i class="fa fa-line-chart" aria-hidden="true"></i> <strong>Data graph</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div *ngIf="mobile" class="col-md-12" style="min-height: 200px;">
              <div class="chart-wrapper">
                <canvas baseChart
                        style="display: block; height: 372px; width: 744px;"
                        [datasets]="deviceChartData"
                        [labels]="deviceChartLabels"
                        [options]="deviceChartOptionsMobile"
                        [colors]="deviceChartColors"
                        [legend]="true"
                        [chartType]="'line'"></canvas>
              </div>
            </div>
            <div *ngIf="!mobile" class="col-md-12" style="min-height: 400px;">
              <div class="chart-wrapper">
                <canvas baseChart
                        [datasets]="deviceChartData"
                        [labels]="deviceChartLabels"
                        [options]="deviceChartOptions"
                        [colors]="deviceChartColors"
                        [legend]="true"
                        [chartType]="'line'"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="messageChartData.length > 0" class="card">
        <div class="card-header">
          <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i> <strong>Message counter</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div *ngIf="mobile" class="col-md-12">
              <div class="btn-group btn-group-sm" data-toggle="buttons" aria-label="Filter graph">
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_hourly}" (click)="getMessagesGraph('hourly')">Hour</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_daily}" (click)="getMessagesGraph('daily')">Day</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_weekly}" (click)="getMessagesGraph('weekly')">Week</button>
              </div>
              <div class="btn-group btn-group-sm" data-toggle="buttons" aria-label="Filter graph">
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_monthly}" (click)="getMessagesGraph('monthly')">Month</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_yearly}" (click)="getMessagesGraph('yearly')">Year</button>
              </div>
              <button type="button" class="btn btn-sm btn-primary pull-right"><i class="fa fa-download"></i></button>
            </div>
            <div *ngIf="!mobile" class="col-md-12">
              <div class="btn-group pull-left" data-toggle="buttons" aria-label="Filter graph">
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_hourly}" (click)="getMessagesGraph('hourly')">Hour</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_daily}" (click)="getMessagesGraph('daily')">Day</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_weekly}" (click)="getMessagesGraph('weekly')">Week</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_monthly}" (click)="getMessagesGraph('monthly')">Month</button>
                <button class="btn btn-outline-secondary" [ngClass]="{active : isLimit_yearly}" (click)="getMessagesGraph('yearly')">Year</button>
              </div>
              <button type="button" class="btn btn-primary pull-right"><i class="fa fa-download"></i></button>
            </div>
          </div>
          <div class="row">
            <div *ngIf="mobile" class="col-md-12" style="min-height: 200px;">
              <canvas *ngIf="messageChartData.length > 0"
                      baseChart
                      [datasets]="messageChartData"
                      [labels]="messageChartLabels"
                      [options]="messageChartOptions"
                      [colors]="messageChartColors"
                      [legend]="true"
                      [chartType]="'bar'"></canvas>
            </div>
            <div *ngIf="!mobile" class="col-md-12" style="min-height: 400px;">
              <canvas *ngIf="messageChartData.length > 0"
                      baseChart
                      [datasets]="messageChartData"
                      [labels]="messageChartLabels"
                      [options]="messageChartOptions"
                      [colors]="messageChartColors"
                      [legend]="true"
                      [chartType]="'bar'"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->
    </div>
    <!--/.row-->
  </div>

</div>
