<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <i class="fa fa-plug fa-lg text-connector mr-1"></i>
              <strong translate>connectors</strong>
            </div>
            <div class="col-2">
              <button class="pull-right btn btn-sm btn-round btn-success" (click)="openAddConnectorModal()">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!connectorsReady">
            Loading connectors...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="connectorsReady && !connectors.length">
            No connectors yet...
          </ng-container>

          <!-- Table -->
          <div *ngIf="connectors.length > 0" class="table-responsive">
            <table datatable class="table table-hover table-outline">
              <thead class="thead-inverse">
              <tr>
                <th class="text-center">
                  <i class="fa fa-sort"></i>
                  <span>Name</span>
                </th>
                <th class="text-center">
                  <i class="fa fa-sort"></i>
                  <span>Type</span>
                </th>
                <th class="text-center">
                  <i class="fa fa-sort"></i>
                  <span>Updated</span>
                </th>
                <th class="text-center">
                  <span>Action</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let connector of connectors; let i = index">
                <td class="text-center text-connector">
                  <strong>{{connector.name}}</strong>
                </td>
                <td class="text-center">
                  <span>{{connector.type}}</span>
                </td>
                <td class="text-center">
                  <strong>{{connector.updatedAt | amTimeAgo}}</strong>
                </td>
                <td class="text-center">
                  <div class="btn-group-sm">
                    <button
                      class="btn btn-outline-primary btn-round"
                      tooltip="Edit connector"
                      (click)="openEditConnectorModal(connector)">
                      <i class="fa fa-pencil fa-lg"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger btn-round ml-1"
                      tooltip="Delete connector"
                      (click)="openConfirmConnectorModal(connector)">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- End Table -->

        </div>
      </div>
    </div>
  </div>

</div>

<div bsModal #addConnectorModal="bs-modal" class="modal fade" [config]="{ignoreBackdropClick: true}" tabindex="-1"
     role="dialog"
     aria-labelledby="addConnectorModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!-- Form Begin -->
    <div class="modal-content">
      <form class="form-horizontal" (ngSubmit)="addConnector()" #addConnectorForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title" translate>add_connector</h4>
          <button type="button" class="close" (click)="addConnectorModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add Connector -->
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">
                <span translate>name</span>
                <small class="text-danger">*</small>
              </label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="connectorToAdd.name"
                  placeholder="{{ 'connector_name' | translate }}"
                  [(ngModel)]="connectorToAdd.name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">
                <span translate>type</span>
                <small class="text-danger">*</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect
                  #selectTypesAdd
                  name="selectTypes"
                  [data]="selectTypes"
                  [(ngModel)]="selectedTypes"
                  [settings]="selectOneSettings"
                  (onSelect)="connectorToAdd.type = $event.id; selectTypesAdd.isActive = false;"
                  (onDeSelect)="connectorToAdd.type = null"
                  required>
                </angular2-multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">
                <span translate>description</span>
              </label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  name="connectorToAdd.description"
                  placeholder="Connector description"
                  [(ngModel)]="connectorToAdd.description" />
              </div>
            </div>
            <!-- Sigfox API -->
            <ng-container *ngIf="connectorToAdd.type === 'sigfox-api'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>Login</span>
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    name="connectorToAdd.login"
                    placeholder="Connector login"
                    [(ngModel)]="connectorToAdd.login"
                    autocomplete="off"
                    required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>Password</span>
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input
                    type="password"
                    class="form-control"
                    name="connectorToAdd.password"
                    placeholder="Connector password"
                    [(ngModel)]="connectorToAdd.password"
                    autocomplete="off"
                    required>
                </div>
              </div>
            </ng-container>
            <!-- End Sigfox API -->
            <!-- Nexmo SMS -->
            <ng-container *ngIf="connectorToAdd.type === 'nexmo-sms'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">API Key
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.login"
                         placeholder="Nexmo API key"
                         [(ngModel)]="connectorToAdd.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">API Secret
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToAdd.password"
                         placeholder="Nexmo API secret"
                         [(ngModel)]="connectorToAdd.password"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Destination number
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <int-phone-prefix name="connectorToAdd.recipient" [(ngModel)]="connectorToAdd.recipient" required></int-phone-prefix>
                </div>
              </div>
            </ng-container>
            <!-- End Nexmo SMS -->
            <!-- Webhook -->
            <ng-container *ngIf="connectorToAdd.type === 'webhook'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>URL</span>
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text"
                         class="form-control"
                         name="connectorToAdd.url"
                         placeholder="Request URL"
                         [(ngModel)]="connectorToAdd.url">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>Method</span>
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <select class="form-control" size="1"
                          name="connectorToAdd.method"
                          [(ngModel)]="connectorToAdd.method"
                          required>
                    <option [ngValue]="method" *ngFor="let method of ['GET', 'POST', 'PUT']">{{method}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>Login</span>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToAdd.login">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">
                  <span>Password</span>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToAdd.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToAdd.password">
                </div>
              </div>
            </ng-container>
            <!-- End Webhook -->
            <!-- Free Mobile -->
            <ng-container *ngIf="connectorToAdd.type === 'free-mobile'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToAdd.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToAdd.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToAdd.password"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End Free Mobile -->
            <!-- MQTT -->
            <ng-container *ngIf="connectorToAdd.type === 'mqtt'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToAdd.login">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToAdd.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToAdd.password">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Host
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.host"
                         placeholder="MQTT host"
                         [(ngModel)]="connectorToAdd.host"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Port
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="number" class="form-control"
                         name="connectorToAdd.port"
                         placeholder="MQTT port"
                         [(ngModel)]="connectorToAdd.port"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Topic
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.topic"
                         placeholder="MQTT topic"
                         [(ngModel)]="connectorToAdd.topic"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End MQTT -->
            <!-- Office-365 -->
            <ng-container *ngIf="connectorToAdd.type === 'office-365'" class="form-group row">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToAdd.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToAdd.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToAdd.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToAdd.password"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Recipient email
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="email" class="form-control"
                         name="connectorToAdd.recipient"
                         placeholder="Recipient email"
                         [(ngModel)]="connectorToAdd.recipient"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End Office-365 -->
          </div>
          <!-- End Add Connector -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addConnectorModal.hide()">Close</button>
          <button type="submit" class="btn btn-success" [disabled]="!addConnectorForm.form.valid"><i
            class="fa fa-plus-circle"></i> Add connector
          </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editConnectorModal="bs-modal" class="modal fade" [config]="{ignoreBackdropClick: true}" tabindex="-1"
     role="dialog"
     aria-labelledby="editConnectorModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!-- Form Begin -->
    <div class="modal-content">
      <form class="form-horizontal" #editConnectorForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Edit connector</h4>
          <button type="button" class="close" (click)="editConnectorModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Edit Connector -->
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Name
                <small class="text-danger">*</small>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control"
                       name="connectorToEdit.name"
                       placeholder="Connector name"
                       [(ngModel)]="connectorToEdit.name"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Type
                <small class="text-danger">*</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect #selectTypesEdit
                                      name="selectTypes"
                                      [data]="selectTypes"
                                      [(ngModel)]="selectedTypes"
                                      [settings]="selectOneSettings"
                                      (onSelect)="connectorToEdit.type = $event.id; selectTypesEdit.isActive = false;"
                                      (onDeSelect)="connectorToEdit.type = null"
                                      required>
                </angular2-multiselect>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Description
                <small>(optional)</small>
              </label>
              <div class="col-md-9">
                <input type="text" class="form-control"
                       name="connectorToEdit.description"
                       placeholder="Connector description"
                       [(ngModel)]="connectorToEdit.description">
              </div>
            </div>
            <!-- Sigfox API -->
            <ng-container *ngIf="connectorToEdit.type === 'sigfox-api'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToEdit.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToEdit.password"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End Sigfox API -->
            <!-- Nexmo SMS -->
            <ng-container *ngIf="connectorToEdit.type === 'nexmo-sms'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">API Key
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Nexmo API key"
                         [(ngModel)]="connectorToEdit.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">API Secret
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Nexmo API secret"
                         [(ngModel)]="connectorToEdit.password"
                         required>
                </div>
              </div>
              <!--<div class="form-group row">
                <label class="col-md-3 form-control-label">Source number
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <int-phone-prefix name="connectorToEdit.host" [(ngModel)]="connectorToEdit.host" required></int-phone-prefix>
                </div>
              </div>-->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Destination number
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <int-phone-prefix name="connectorToEdit.recipient" [(ngModel)]="connectorToEdit.recipient" required></int-phone-prefix>
                </div>
              </div>
            </ng-container>
            <!-- End Nexmo SMS -->
            <!-- Webhook -->
            <ng-container *ngIf="connectorToEdit.type === 'webhook'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">URL
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.url"
                         placeholder="Request URL"
                         [(ngModel)]="connectorToEdit.url"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Method
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <select class="form-control" size="1"
                          name="connectorToEdit.method"
                          [(ngModel)]="connectorToEdit.method"
                          required>
                    <option [ngValue]="method" *ngFor="let method of ['GET', 'POST', 'PUT']">{{method}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToEdit.login">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToEdit.password">
                </div>
              </div>
            </ng-container>
            <!-- End Webhook -->
            <!-- Free Mobile -->
            <ng-container *ngIf="connectorToEdit.type === 'free-mobile'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToEdit.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToEdit.password"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End Free Mobile -->
            <!-- MQTT -->
            <ng-container *ngIf="connectorToEdit.type === 'mqtt'">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToEdit.login">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small>(optional)</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToEdit.password">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Host
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.host"
                         placeholder="MQTT host"
                         [(ngModel)]="connectorToEdit.host"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Port
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="number" class="form-control"
                         name="connectorToEdit.port"
                         placeholder="MQTT port"
                         [(ngModel)]="connectorToEdit.port"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Topic
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.topic"
                         placeholder="MQTT topic"
                         [(ngModel)]="connectorToEdit.topic"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End MQTT -->
            <!-- Office-365 -->
            <ng-container *ngIf="connectorToEdit.type === 'office-365'" class="form-group row">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Login
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="text" class="form-control"
                         name="connectorToEdit.login"
                         placeholder="Connector login"
                         [(ngModel)]="connectorToEdit.login"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Password
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="password" class="form-control"
                         name="connectorToEdit.password"
                         placeholder="Connector password"
                         [(ngModel)]="connectorToEdit.password"
                         required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Recipient email
                  <small class="text-danger">*</small>
                </label>
                <div class="col-md-9">
                  <input type="email" class="form-control"
                         name="connectorToEdit.recipient"
                         placeholder="Recipient email"
                         [(ngModel)]="connectorToEdit.recipient"
                         required>
                </div>
              </div>
            </ng-container>
            <!-- End Office-365 -->
          </div>
          <!-- End Edit Connector -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editConnectorModal.hide()">Close</button>
          <button class="btn btn-primary" [disabled]="!editConnectorForm.form.valid" (click)="editConnector()"><i
            class="fa fa-check"></i> Update
          </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmConnectorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="confirmConnectorModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove connector - {{connectorToRemove.name}}</h4>
        <button type="button" class="close" (click)="confirmConnectorModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this connector?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="removeConnector()">Delete</button>
        <button class="btn btn-sm btn-default" (click)="confirmConnectorModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
