<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <i class="fa fa-bell fa-lg text-alert"></i><strong> Alerts</strong>
            </div>
            <div class="col-2">
              <button class="pull-right btn btn-sm btn-round btn-success" (click)="openAddAlertModal()">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <ng-container *ngIf="!alertsReady">
            Loading alerts...
            <div class="sk-double-bounce">
              <div class="sk-child sk-double-bounce1"></div>
              <div class="sk-child sk-double-bounce2"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="alertsReady && !alerts.length">
            No alerts yet...
          </ng-container>

          <!-- Table -->
          <div *ngIf="alerts.length > 0" class="table-responsive">
            <table class="table table-hover table-outline" [mfData]="alerts" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead class="thead-inverse">
              <tr>
                <th class="text-center">
                  <mfDefaultSorter by="active"><i class="fa fa-sort"></i> Active</mfDefaultSorter>
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="id"><i class="fa fa-sort"></i> Device</mfDefaultSorter>
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="one_shot"><i class="fa fa-sort"></i> One shot</mfDefaultSorter>
                </th>
                <th class="text-center">
                  Trigger
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="Connector.name"><i class="fa fa-sort"></i> Name</mfDefaultSorter>
                </th>
                <th class="text-center">
                  <mfDefaultSorter by="triggeredAt"><i class="fa fa-sort"></i> Last triggered</mfDefaultSorter>
                </th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let alert of mf.data; let i = index">
                <td class="text-center">
                  <label for="{{alert.id + 'active'}}" class="switch switch-sm switch-3d switch-success-outline-alt">
                    <input id="{{alert.id + 'active'}}" (change)="setAlertActive(alert)" [(ngModel)]="alert.active" type="checkbox"
                           class="switch-input">
                    <span class="switch-label"></span>
                    <span class="switch-handle"></span>
                  </label>
                </td>
                <td class="text-center">
                  <a [routerLink]="['/messages', alert.Device.id]">
                    <strong class="text-device">{{alert.Device.id}} </strong>
                    <span *ngIf="alert.Device.name" class="small">({{alert.Device.name}})</span>
                  </a>
                </td>
                <td class="text-center">
                  <div class="checkbox checkbox-primary">
                    <input type="checkbox" id="{{alert.id + 'one_shot'}}" name="alert.one_shot" (change)="setAlertOneShot(alert)" [(ngModel)]="alert.one_shot" value="alert.one_shot">
                    <label for="{{alert.id + 'one_shot'}}"></label>
                  </div>
                </td>
                <td>
                  <div class="small text-gray-dark">
                    <strong>Key:</strong> {{alert.key}}
                  </div>
                  <ng-container *ngIf="alert.value">
                    <div class="small text-gray-dark" *ngIf="alert.value.min">
                      <strong>Min value:</strong> {{alert.value.min}}
                    </div>
                    <div class="small text-gray-dark" *ngIf="alert.value.max">
                      <strong>Max value:</strong> {{alert.value.max}}
                    </div>
                    <div class="small text-gray-dark" *ngIf="alert.value.less">
                      <strong>Less than value:</strong> {{alert.value.less}}
                    </div>
                    <div class="small text-gray-dark" *ngIf="alert.value.more">
                      <strong>More than value:</strong> {{alert.value.more}}
                    </div>
                    <div class="small text-gray-dark" *ngIf="alert.value.exact">
                      <strong>Exact value:</strong> {{alert.value.exact}}
                    </div>
                  </ng-container>
                  <ng-container *ngIf="alert.geofence">
                    <ng-container *ngFor="let geofence of alert.geofence; let i = index">
                      <div *ngIf="geofence.radius" class="small text-gray-dark">
                        <strong class="text-alert">{{i + 1}}. </strong>
                        <strong>Lat:</strong> {{geofence.location[0].lat.toFixed(2)}}
                        <strong>Lng:</strong> {{geofence.location[0].lng.toFixed(2)}}
                        <strong>Radius:</strong> {{geofence.radius.toFixed(2)}} m
                      </div>
                      <div *ngIf="!geofence.radius" class="small text-gray-dark">
                        <ng-container *ngFor="let location of geofence.location; let i = index">
                          <div class="small text-gray-dark">
                            <strong class="text-alert">{{i + 1}}. </strong>
                            <strong>Lat:</strong> {{location.lat.toFixed(2)}}
                            <strong>Lng:</strong> {{location.lng.toFixed(2)}}
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                  <div class="small text-gray-dark" *ngIf="alert.message">
                    <strong>Message:</strong> {{alert.message}}
                  </div>
                </td>
                <td class="text-center text-connector">
                  <strong>{{alert.Connector ? alert.Connector.name: 'No connector'}}</strong>
                </td>
                <td class="text-center">
                  <strong *ngIf="alert.triggeredAt !== dateOrigin.toISOString()">
                    {{alert.triggeredAt | amTimeAgo}}
                  </strong>
                  <span *ngIf="alert.triggeredAt === dateOrigin.toISOString()" class="text-warning">
                    Not yet triggered
                  </span>
                </td>
                <td class="text-center">
                  <div class="btn-group-sm">
                    <button class="btn btn-outline-warning btn-round" tooltip="Test alert"
                            (click)="testAlert(alert)"><i class="fa fa-check fa-lg"></i></button>
                    <button class="btn btn-outline-primary btn-round" tooltip="Edit alert"
                            (click)="openEditAlertModal(alert)"><i class="fa fa-pencil fa-lg"></i></button>
                    <button class="btn btn-outline-danger btn-round" tooltip="Delete alert"
                            (click)="openConfirmModal(alert)"><i class="fa fa-trash fa-lg"></i></button>
                  </div>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- End Table -->

        </div>
      </div>
    </div>
  </div>

</div>

<div bsModal #addOrEditAlertModal="bs-modal" class="modal fade" [config]="{ignoreBackdropClick: true}" tabindex="-1"
     role="dialog"
     aria-labelledby="addOrEditAlertModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!-- Form Begin -->
    <div class="modal-content">
      <form *ngIf="addAlertFlag" (ngSubmit)="addAlert()" class="form-horizontal" #addOrEditForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Add alert</h4>
          <button type="button" class="close" (click)="addOrEditAlertModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add or edit Alert -->
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Device
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect #selectDevicesAddOrEdit
                                      name="selectDevices"
                                      [data]="selectDevices"
                                      [(ngModel)]="selectedDevices"
                                      [settings]="selectOneDeviceSettings"
                                      (onSelect)="alertToAddOrEdit.deviceId = $event.id; selectDevicesAddOrEdit.isActive = false; loadKeys($event.id)"
                                      (onDeSelect)="alertToAddOrEdit.deviceId = null; alertToAddOrEdit.key = null;"
                                      required>
                </angular2-multiselect>
              </div>
            </div>
            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId">
              <label class="col-md-3 form-control-label">Key
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect #selectKeysAddOrEdit
                                      name="selectKeys"
                                      [data]="selectKeys"
                                      [(ngModel)]="selectedKeys"
                                      [settings]="selectOneSettings"
                                      (onSelect)="alertToAddOrEdit.key = $event.id; setAlertType(); selectKeysAddOrEdit.isActive = false"
                                      (onDeSelect)="resetAlertFields();"
                                      required>
                </angular2-multiselect>
              </div>
            </div>

            <ng-container *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.value">
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Exact value
                </label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Exact value" name="alertToAddOrEdit.value.exact"
                         [(ngModel)]="alertToAddOrEdit.value.exact">
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Between</label>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-control-label">Min value</label>
                      <input type="number" class="form-control" name="alertToAddOrEdit.value.min"
                             [(ngModel)]="alertToAddOrEdit.value.min">
                    </div>
                    <div class="col-md-6">
                      <label class="form-control-label">Max value</label>
                      <input type="number" class="form-control" name="alertToAddOrEdit.value.max"
                             [(ngModel)]="alertToAddOrEdit.value.max">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Less than</label>
                <div class="col-md-8">
                  <input type="number" class="form-control" name="alertToAddOrEdit.value.less"
                         [(ngModel)]="alertToAddOrEdit.value.less">
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">More than</label>
                <div class="col-md-8">
                  <input type="number" class="form-control" name="alertToAddOrEdit.value.more"
                         [(ngModel)]="alertToAddOrEdit.value.more">
                </div>
              </div>
              <hr class="offset-1">
            </ng-container>

            <ng-container *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.geofence && !alertToAddOrEdit.value">
              <div id="mapAdd"
                   class="mb-1"
                   style="height: 500px;"
                   leaflet
                   leafletDraw
                   (leafletMapReady)="onMapReady($event)"
                   [leafletOptions]="mapOptions"
                   [leafletDrawOptions]="drawOptions">
              </div>
            </ng-container>

            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.key">
              <label tooltip="Insert [<key>] in the custom message to dynamically insert latest value of the keys you put in brackets" class="offset-1 col-md-3 form-control-label">Custom message
                <small>(optional)</small>
              </label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Message" name="alertToAddOrEdit.message"
                       [(ngModel)]="alertToAddOrEdit.message">
              </div>
            </div>

            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.key">
              <label class="col-md-3 form-control-label">Connectors
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect name="selectConnectors"
                                      [data]="selectConnectors"
                                      [(ngModel)]="selectedConnectors"
                                      [settings]="selectConnectorsSettings"
                                      (onSelect)="setConnectors()"
                                      (onDeSelect)="setConnectors()"
                                      required>
                </angular2-multiselect>
              </div>
            </div>
          </div>
          <!-- End Edit Alert -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addOrEditAlertModal.hide()">Close</button>
          <button type="submit" class="btn btn-success" [disabled]="!addOrEditForm.form.valid"><i class="fa fa-plus-circle"></i> Add</button>
        </div>
      </form>
      <form *ngIf="!addAlertFlag" (ngSubmit)="editAlert()" class="form-horizontal" #addOrEditForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title">Edit alert</h4>
          <button type="button" class="close" (click)="addOrEditAlertModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add or edit Alert -->
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">Device
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect #selectDevicesAddOrEdit
                                      name="selectDevices"
                                      [data]="selectDevices"
                                      [(ngModel)]="selectedDevices"
                                      [settings]="selectOneDeviceSettings"
                                      (onSelect)="alertToAddOrEdit.deviceId = $event.id; selectDevicesAddOrEdit.isActive = false; loadKeys($event.id)"
                                      (onDeSelect)="alertToAddOrEdit.deviceId = null; alertToAddOrEdit.key = null;"
                                      required>
                </angular2-multiselect>
              </div>
            </div>
            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId">
              <label class="col-md-3 form-control-label">Key
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect #selectKeysAddOrEdit
                                      name="selectKeys"
                                      [data]="selectKeys"
                                      [(ngModel)]="selectedKeys"
                                      [settings]="selectOneSettings"
                                      (onSelect)="alertToAddOrEdit.key = $event.id; setAlertType(); selectKeysAddOrEdit.isActive = false"
                                      (onDeSelect)="resetAlertFields();"
                                      required>
                </angular2-multiselect>
              </div>
            </div>

            <ng-container *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.value">
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Exact value
                </label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Exact value" name="alertToAddOrEdit.value.exact"
                         [(ngModel)]="alertToAddOrEdit.value.exact">
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Between</label>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-control-label">Min value</label>
                      <input type="number" class="form-control" name="alertToAddOrEdit.value.min"
                             [(ngModel)]="alertToAddOrEdit.value.min">
                    </div>
                    <div class="col-md-6">
                      <label class="form-control-label">Max value</label>
                      <input type="number" class="form-control" name="alertToAddOrEdit.value.max"
                             [(ngModel)]="alertToAddOrEdit.value.max">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">Less than</label>
                <div class="col-md-8">
                  <input type="number" class="form-control" name="alertToAddOrEdit.value.less"
                         [(ngModel)]="alertToAddOrEdit.value.less">
                </div>
              </div>
              <div class="form-group row">
                <label class="offset-1 col-md-3 form-control-label">More than</label>
                <div class="col-md-8">
                  <input type="number" class="form-control" name="alertToAddOrEdit.value.more"
                         [(ngModel)]="alertToAddOrEdit.value.more">
                </div>
              </div>
              <hr class="offset-1">
            </ng-container>

            <ng-container *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.geofence && !alertToAddOrEdit.value">
              <div id="mapEdit"
                   class="mb-1"
                   style="height: 500px;"
                   leaflet
                   leafletDraw
                   (leafletMapReady)="onMapReady($event)"
                   [leafletOptions]="mapOptions"
                   [leafletDrawOptions]="drawOptions">
              </div>
            </ng-container>

            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.key">
              <label tooltip="Insert [<key>] in the custom message to dynamically insert latest value of the keys you put in brackets" class="offset-1 col-md-3 form-control-label">Custom message
                <small>(optional)</small>
              </label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Message" name="alertToAddOrEdit.message"
                       [(ngModel)]="alertToAddOrEdit.message">
              </div>
            </div>

            <div class="form-group row" *ngIf="alertToAddOrEdit.deviceId && alertToAddOrEdit.key">
              <label class="col-md-3 form-control-label">Connectors
                <small class="text-danger">(required)</small>
              </label>
              <div class="col-md-9">
                <angular2-multiselect name="selectConnectors"
                                      [data]="selectConnectors"
                                      [(ngModel)]="selectedConnectors"
                                      [settings]="selectConnectorsSettings"
                                      (onSelect)="setConnectors()"
                                      (onDeSelect)="setConnectors()"
                                      required>
                </angular2-multiselect>
              </div>
            </div>
          </div>
          <!-- End Edit Alert -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addOrEditAlertModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!addOrEditForm.form.valid"><i class="fa fa-check"></i> Update</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove alert</h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are your sure you wish to delete this alert?
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="removeAlert()">Delete</button>
        <button class="btn btn-sm btn-default" (click)="confirmModal.hide()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
